.header__section {
}

.header__top-info {
  padding: 11px 20px;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;

  span {
    font-weight: 700;
  }
}

.header__nav {
  background: #2d2d2d;
  padding: 10px 0;
}

.header__nav-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;

  nav {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
}

.header__nav-logo {
  width: 60px;
  height: auto;
  flex-shrink: 0;
}

.header__nav-link {
  padding: 15px 30px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #fff;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    opacity: 0;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    transition: 0.3s ease;
  }

  &:hover {
    &:before {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.header__nav-order {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 2px 48px;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s ease;

  &:hover {
    border-color: #fff;
  }

  img {
    width: 44px;
    height: auto;
    flex-shrink: 0;
  }
}

.header__title {
  padding: 22px 0;
  font-weight: 900;
  font-size: 36px;
  text-transform: uppercase;
  color: #2d2d2d;
}

.header__block {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.header__block-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 270px;
  padding: 40px 0 58px;
}

.header__boot {
  width: 312px;
  height: auto;
  flex-shrink: 0;
  margin-top: -20px;
  animation-duration: 6s;
}

.header__content {
  width: 460px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__content-logo {
  width: 115px;
  height: auto;
  margin-bottom: 10px;
}

.header__content-title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.header__logo-bmw {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.header__content-m {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #fff;

  img {
    width: 152px;
    height: auto;
  }
}

.header__bottom {
  padding: 25px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 140px;
}

.header__bottom-text {
  font-weight: 500;
  font-size: 28px;
  color: #2d2d2d;
}

.header__bottom-order {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  padding: 25px;
  background-color: #e30613;
  transition: 0.3s ease;
  border: 2px solid transparent;
  flex-shrink: 0;

  &:hover {
    border-color: #2d2d2d;
    color: #2d2d2d;
    background-color: transparent;
  }
}

.open__nav {
  width: auto;
  height: auto;
  cursor: pointer;
  display: none;

  img {
    width: 44px;
    height: auto;
  }
}

.nav__mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2d2d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: 0.3s ease;
  transform: translateX(-100%);

  &.active {
    transform: translateX(0);
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.close__nav-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;

  img {
    width: 18px;
  }
}

@media (max-width: 1480px) {
  .container {
    width: 1200px;
  }
  .header__block-wrapper {
    gap: 160px;
  }
}

@media (max-width: 1280px) {
  .container {
    width: 1000px;
  }
  .header__nav-wrapper {
    gap: 20px;
  }
  .header__nav-link {
    padding: 15px 20px;
  }
  .header__title {
    font-size: 32px;
  }
  .header__block-wrapper {
    gap: 100px;
  }
  .header__bottom {
    gap: 40px;
  }
  .header__bottom-text {
    font-size: 24px;
  }
}

@media (max-width: 1080px) {
  .container {
    width: 700px;
  }
  .header__nav-wrapper {
    justify-content: space-between;
    align-items: center;
  }
  .header__nav-wrapper nav {
    display: none;
  }
  .open__nav {
    display: block;
  }
  .header__nav-order {
    margin: 0;
    border: none;
    padding: 0;

    span {
      display: none;
    }
  }
  .header__title {
    padding: 20px 0;
    text-align: center;
  }
  .header__block-wrapper {
    gap: 0;
  }
  .header__content {
    width: 360px;
  }
  .header__content-m {
    gap: 10px;
    font-size: 36px;

    img {
      width: 130px;
    }
  }
  .header__bottom {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
  .header__bottom-text {
    text-align: center;
  }
}

@media (max-width: 740px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header__content {
    width: 280px;
  }
  .header__content-title {
    font-size: 32px;
  }
  .header__logo-bmw {
    width: 80px;
  }
  .header__content-m img {
    width: 90px;
  }
  .header__content-m {
    font-size: 28px;
  }
  .header__boot {
    width: 250px;
  }
}

@media (max-width: 540px) {
  .header__top-info {
    padding: 2.6vw 0;
    font-size: 3.2vw;
  }
  .header__nav {
    padding: 2.3vw 0;
  }
  .header__title {
    padding: 4.8vw 0;
    font-size: 6vw;
  }
  .header__block-wrapper {
    gap: 0px;
    padding: 6vw 0 27vw;
  }
  .header__boot {
    width: 58vw;
    margin-top: 0;
    margin-bottom: -30vw;
    margin-right: -18vw;
  }
  .header__content {
    width: 52vw;
  }
  .header__content-logo {
    width: 19vw;
    margin-bottom: 4vw;
  }
  .header__content-title {
    font-size: 5.8vw;
    margin-bottom: 4vw;
  }
  .header__logo-bmw {
    width: 19vw;
    margin-bottom: 4vw;
  }
  .header__content-m {
    gap: 1vw;
  }
  .header__content-m img {
    width: 16.6vw;
  }
  .header__content-m {
    font-size: 5.8vw;
  }
  .header__bottom {
    gap: 4.8vw;
    padding: 4.8vw 0 12vw;
  }
  .header__bottom-text {
    font-size: 5.4vw;
  }
  .header__bottom-order {
    font-size: 4.8vw;
    padding: 6vw;
  }
}
