.play__section {
    .modal__block {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        height: 100%;
    }
    .modal__wrapper {
        interpolate-size: allow-keywords;
        height: auto;
        // height: 40vw;
        padding-bottom: 3vw;
        transition: 0.3s ease;
    }
}

.play__block {
    position: relative;
    z-index: 1;
    width: 30vw;
    height: auto;
    padding-right: 2vw;

    &:before {
        content: "";
        width: 1px;
        height: calc(100% - 2vw);
        top: 2vw;
        right: 0;
        position: absolute;
        background-color: #363660;
    }
}

.play__block-title {
    font-size: 0.9vw;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #9595bf;
    margin-bottom: 0.9vw;
}

.play__item {
    margin-top: 1.6vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.play__item.active {
    .play__item-text {
        display: none;
    }
    .play__item-description {
        display: block;
    }
}

.play__item-info {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 1vw;

    &:before {
        content: "";
        width: 16.6vw;
        height: 0.8vw;
        position: absolute;
        top: 1vw;
        left: 0;
        background-image: url(../img/play-line.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.play__item-title {
    font-size: 1vw;
    height: auto;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-bottom: 0.5vw;
}

.play__item-text, .play__item-description {
    font-size: 0.8vw;
    height: auto;
    color: #A0A1C1;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}

.play__item-description {
    font-size: 0.7vw;
    display: none;
}

.btn__rounded-small {
    min-width: 12.4vw;
    height: 3.7vw;
    position: relative;
    z-index: 1;

    span {
        width: 100%;
        font-size: 0.95vw;
    }
}

.play__info {
    width: 18.5vw;
    height: auto;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
}

.play__info-item {
    display: none;

    &.active {
        display: block;
    }
}

.play__info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.play__info-title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    margin-bottom: 0.9vw;
    color: #fff;
    text-align: center;
    font-size: 0.9vw;
}

.play__info-img {
    width: 100%;
    height: auto;
    border-radius: 0.8vw;
    margin-bottom: 1.2vw;
}

.play__info-text {
    font-size: 0.75vw;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 0 0.8vw;
    line-height: 1.5;
    margin-bottom: 1.6vw;
}

.play__info-btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.play__info-btn {
    width: 48%;
    height: 2vw;
    border-radius: 2vw;
    background-color: rgba(55, 55, 74, 0.5);
    border: 2px solid #d6d6d6;
    margin-bottom: 0.9vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 0.7vw;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease;

    &:hover {
        opacity: 0.8;
    }

    &.active {
        &:hover {
            opacity: 1;
        }
        opacity: 1;
    }

    &:disabled {
        
        cursor: auto;
        opacity: 0.2;

        &:hover {
            opacity: 0.2;
        }
    }
}

.play__info-list {
    width: 100%;
    font-size: 0.75vw;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 1vw;

    span {
        font-weight: 800;
    }
}

.play__list-item-free {
    color: #DCC26F;
}

.play__btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    flex-direction: column;
}

.btn__play {
    img {
        max-width: 2vw;
        max-height: 3vw;
    }
}

.play__info-item-3 {
    .play__info-list {
        display: none;

        &.active {
            display: block;
        }
    }
}

.info__block {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 2;
    padding: 1vw 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.play-info__section {
    .btn__play {
        align-self: center;
    }
    .btn__play:disabled {
        filter: grayscale(100%); 
        cursor: auto;
    }
    .btn__play:disabled:hover {
        transform: none;
        box-shadow: 0px 0px 20px 5px rgba(70, 73, 255, 0.7);
    }
}

.info__main-title {
    font-family: "Raleway", sans-serif;
    font-size: 1.6vw;
    position: relative;
    margin-bottom: 0.3vw;
    font-weight: 800;

    &:before {
        content: "";
        width: 22.65vw;
        height: 1.2vw;
        position: absolute;
        bottom: -0.2vw;
        left: 0;
        background-image: url(../img/play-line.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.info__main-text {
    font-family: "Raleway", sans-serif;
    font-size: 0.9vw;
    color: #585a80;
    margin-bottom: 1vw;
}

.info__wrapper {
    width:  100%;
    height: auto;
    max-height: 12vw;
    overflow-y: auto;
    margin-bottom: 1vw;
    padding: 0 1vw 1vw 0;
}

.info__text {
    font-family: "Raleway", sans-serif;
    font-size: 0.8vw;
    color: #fff;
    margin-bottom: 1vw;
}

.info__text-alert {
    font-family: "Raleway", sans-serif;
    font-size: 0.8vw;
    color: #fcc60a;
}

.info__checkbox {
    position: relative; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-bottom: 1vw;
}

.info__check-box {
    width: 1.9vw;
    height: 1.9vw;
    border: 1px solid #626262;
    margin-right: 1vw;
    border-radius: 0.2vw;
    background-color: #22223f;
    position: relative;

    &:before {
        content: "";
        width: 1.2vw;
        height: 1.2vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/checkbox-ok.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        transition: 0.3s ease;
    }
}

.checkbox__input:checked + .info__check-box {
    &:before {
        opacity: 1;
    }
}

.info__check-box-text {
    font-family: "Raleway", sans-serif;
    font-size: 0.8vw;
    color: #9c9b9b;
}

