.components__page {
    height: auto;
    min-height: 100vh;
    overflow: auto;
    background-attachment: fixed;
}

.components__wrapper {
    width: 100%;
    height: auto;
    padding: 2vw 5vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
    position: relative;
    z-index: 10;
}

.game__chat, .rating__block {
    width: 16vw;
    height: auto;
    max-height: 100%;
    position: relative;
    z-index: 2;
    border-radius: 1vw;
    border: 4px solid #FFB745;
    background: rgba(255, 255, 255, 0.15);
    padding: 1.6vw 0.9vw;
}

.chat__title {
    font-size: 0.9vw;
    text-align: center;
    color: #fff;
    margin-bottom: 0.2vw;
}

.game__chat-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.4vw;
    height: 18vw;
    max-height: 18vw;
    overflow: auto;
}

.chat__item {
    width: 100%;
    height: auto;
}

.chat__name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.8vw;
    text-align: left;
    color: #fff;
    margin-bottom: 0.4vw;
    padding: 0 0.4vw;
}

.chat__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}

.chat__message {
    width: 100%;
    height: auto;
    padding: 0.8vw;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 0.7vw;
    text-align: left;
    color: #fff;
    background-color: #3b3b6d;
    border-radius: 0.8vw;
    line-height: normal;

    &::before {
        content: "";
        width: 1vw;
        height: 1vw;
        position: absolute;
        bottom: -0.2vw;
        right: -0.34vw;
        background-image: url(../img/chat-bg-blue.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.chat__photo {
    flex-shrink: 0;
    width: 1.8vw;
    height: auto;

    img {
        width: 100%;
        height: auto;
    }
}

.chat__item-answer {
    .chat__name {
        text-align: right;
    }
    .chat__item-wrapper {
        flex-direction: row-reverse;
    }

    .chat__message {
        background-color: #a37b3b;

        &:before {
            background-image: url(../img/chat-bg-red.png);
            right: auto;
            left: -0.34vw;
        }
    }
}

.game__chat-send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.1vw;
    margin-top: 1vw;

    .input {
        font-size: 0.8vw;
    }
    
}

.game__chat-btn {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303188;
    border: 2px solid #4a4a55;
    flex-shrink: 0;
    cursor: pointer;

    img {
        width: 0.8vw;
        height: auto;
    }
}


.rating__block {
    padding: 1.2vw 1vw;

    .game__chat-wrapper {
        max-height: 17.6vw;
    }
}

.rating__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5vw;
}

.rating__title {
    font-weight: 400;
    font-size: 1.5vw;
    color: #fff;
}

.rating__prize-main {
    width: 3.2vw;
}

.rating__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8vw;
    padding-right: 1.6vw;
}

.rating__list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 0.9vw;
    color: #fff;

    &.active {
        color: #ffca6e;
    }

    img {
        width: 1.5vw;
        height: auto;
    }
}


