.exit__section {
    .main__title {
        position: absolute;
        top: 3vw;
    }

    &.mini {
        .main__title, .exit__block {
            display: none;
        }
    }
}

.exit__block {
    width: 25vw;
    height: auto;
    border: 2px solid #9d7728;
    background: rgba(24, 24, 36, 0.6);
    border-radius: 1vw;
    position: relative;
    padding: 4px;
   
}

.exit__block-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0.85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    padding: 2vw 1vw;

    &:before {
		content: "";
		width: 200%;
		height: 100%;
		background-color: rgba(49, 50, 95, 0.6);
		transform-origin: bottom left;
		transform: rotate(-36deg);
		position: absolute;
		top: 0%;
		left: 0%;
		z-index: 1;
	}

	&:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		// background-color: #202030;
		background-image: linear-gradient(150deg, rgba(255,255,255,0) 80%, rgba(51,53,153,0.6) 100%);
	}
}

.btn__modal-exit {
    position: relative;
    z-index: 2;

    span {
        font-size: 1.1vw;
    }

    &:hover {
        transform: none;
    }
}

.exit__block-text {
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 1.1vw;
    margin-bottom: 1vw;
}

.exit__timer-block {
    width: 8.4vw;
    height: auto;
    border-radius: 100%;
    border: 3px solid #9d7728;
    position: relative;
    z-index: 2;
    background-color: rgba(48, 49, 133, 0.4);
    padding: 0.6vw;
    margin-bottom: 1vw;
}

.exit__timer {
    font-family: "Wormbox", sans-serif;
    font-size: 3vw;
    line-height: 1;
    text-align: center;
}


.exit__block-btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
    gap: 2vw;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.exit__score {
    position: fixed;
    width: auto;
    bottom: 4vw;
    left: 3vw;
}

.exit__score-text {
    font-weight: 700;
    color: #fff;
    line-height: 1.3;
    font-size: 1.2vw;
}

.exit__coins-text {
    color: #b0b0b0;
    font-size: 0.9vw;
    font-weight: 700;
    line-height: 1.3;
}

.btn__exit-disabled {
    position: absolute;
    top: -1.76vw;
    left: 50%;
    transform: translateX(-50%);
    cursor: auto;

    &:hover {
        transform: translateX(-50%);
        box-shadow: 0px 0px 10px 5px rgba(70, 73, 255, 0.7);
    }
}

.btn__square, .btn__circle {
    width: 5vw;
    height: 5vw;
    border-radius: 0.9vw;
    box-shadow: none;

    .btn__wrapper {
        border-radius: 0.9vw;
        padding: 0.8vw;
    }

    .btn__wrapper:before {
        transform: rotate(-46deg)
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.btn__circle {
    border-radius: 100%;
    width: 6vw;
    height: 6vw;

    .btn__wrapper {
        border-radius: 100%;
    }
}

.btn__home {
    position: fixed;
    top: 2vw;
	left: 3vw;
}

.btn__prize {
    position: fixed;
    top: 2vw;
	right: 3vw;
}

.btn__chat {
    position: fixed;
    top: 8vw;
	right: 3vw;
}

.btn__play-1 {
    position: fixed;
    right: 3vw;
    bottom: 9vw;
}

.btn__play-2 {
    position: fixed;
    bottom: 4vw;
    right: 9vw;
}

.exit__block-small {
    display: none;
    width: auto !important;
    height: auto !important;
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;

    .exit__block-wrapper {
        padding: 0 1vw;
    }

    .exit__timer {
        display: block;
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        margin: 0;
        z-index: 2;
        height: auto;
    }
}

.exit__timer-big {
    position: relative;
    z-index: 1;
    margin-bottom: 1vw;
}
