.modal__section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw 0;
    opacity: 0;
    transition: 0.2s ease;
    visibility: hidden;
    pointer-events: none;

    .main__title {
        font-size: 2.2vw;
        margin-bottom: 1.2vw;
    }

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        .modal__wrapper {
            transform: none;
            // opacity: 1;
        }
    }
}

.modal__wrapper {
    width: 54vw;
    height: 36vw;
    background-color: #202030;
    background-image: url(../img/court-modal.png);
    background-repeat: repeat;
    background-position: center bottom;
    background-size: cover;
    border-radius: 1.3vw;
    position: relative;
    padding: 1.2vw 1.8vw 1.8vw;
    display: flex;
    flex-direction: column;
    align-items: center; 
  

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1.4vw;
        background: linear-gradient(180deg, rgba(44,47,130,1) 0%, rgba(255,255,255,0) 100%);
        z-index: 1;
    }

    &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1.4vw;
        background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(32,32,48,1) 60%);
        // z-index: 1;
    }
}

.modal__border {
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    position: absolute;
    top: -4px;
    left: -4px;
    border-radius: 1.5vw;
    background: linear-gradient(90deg, #9D7728 -0.23%, #A48030 7.8%, #BA9948 20.86%, #DCC26F 37.94%, #F8E48F 50%, #FFFFE1 73.11%, #B79846 99.23%);
    z-index: -1;
}

.modal__wrapper-shadow {
    position: fixed;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 40%;
    border-radius: 100%;
    filter: blur(100px);
    mix-blend-mode: plus-lighter;
    z-index: -1;
    display: none;
    animation: shadow-pulse 2s infinite;

    &.blue {
        background-color: rgba(0, 107, 192, 0.5);
    }

    &.main {
        background-color: rgb(0, 0, 255);
    }

    &.green {
        background-color: rgba(0, 219, 0, 0.5);
    }

    &.pink {
        background-color: rgba(255, 20, 205, 0.5);
    }

    &.purple {
        background-color: rgba(158, 84, 255, 0.5);
    }

    &.red {
        background-color: rgba(255, 63, 63, 0.5);
    }

    &.yellow {
        background-color: rgba(255, 176, 0, 0.5);
    }
}

@keyframes shadow-pulse {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.95);
    }
}

.btn__back, .exit__profile {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 1.3vw;
    left: 1.8vw;
    border: none;
    color: #9595bf;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    font-size: 1.1vw;
    line-height: normal;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 2;
    padding: 0;
    margin: 0;

    img {
        width: 2vw;
        border-radius: 100%;
        margin-right: 10px;
        transition: 0.3s ease;
    }

    &:hover {
        img {
            box-shadow: 0px 0px 5px 1px #B79846;
        }
    }
}

.exit__profile {
    left: auto;
    right: 1.8vw;

    img {
        border-radius: 0;
        margin: 0;
        margin-left: 10px;
    }

    &:hover {
        img {
            box-shadow: none;
        }
    }
}

.modal__title {
    text-align: center;
    font-size: 1.4vw;
    position: relative;
    text-transform: uppercase;
    padding: 0.25vw 0;
    width: 60%;
    border: 1px solid #4f508e;
    border-top: none;
    border-bottom: none;
    margin-bottom: 0.5vw;
    position: relative;
    z-index: 2;
}

.modal__divider {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #4f508e;
    margin-bottom: 1.3vw;
    background: none;
    box-shadow: none;
    position: relative;
    z-index: 2;
}

.modal__block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal__main {
    width: 30vw;
    height: auto;
    flex-shrink: 0;
    position: relative;
    padding-bottom: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    z-index: 1;

    &:before {
        content: "";
        width: 1px;
        height: calc(100% - 2vw);
        position: absolute;
        top: 2vw;
        right: -2vw;
        background-color: #4f508e;
    }
}

.modal__main-title {
    width: 100%;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 0.9vw;
    margin-bottom: 1.2vw;
}

// .modal__main-wrapper {
//     width: 100%;
//     display: flex;
//     justify-content: space-between;
//     align-items: flex-start;
//     flex-wrap: wrap;
// }

.modal__avatar-slider {
    width: 10vw;
    height: auto;
    flex-shrink: 0;
    position: relative;
}

.owl-nav {
    position: absolute;
    top: 4.2vw;
    left: 50%;
    transform: translateX(-50%);
    width: 9vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        width: 1vw;
        height: 1.4vw;
        background-image: url(../img/slider-arrow.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
        transition: 0.3s ease;

        span {
            display: none;
        }

        &.owl-next {
            transform: rotate(180deg);
        }

        &:hover {
            transform: scale(1.2);

            &.owl-next {
                transform: rotate(180deg) scale(1.2);
            }
        }
    }
}

.modal__avatar-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.modal__avatar {
    width: 10vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8vw;

    img {
        width: 6vw !important;
        height: auto;
    }
}

.modal__avatar-text {
    font-family: "Raleway", sans-serif;
    font-size: 0.8vw;
    text-align: center;
    color: #9595bf;
    font-weight: 500;
}

.avatar__name {
    background-image: url(../img/avatar-name-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 2.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 0.95vw;
    text-align: center;
    color: #ffc045;
    font-weight: 500;
    text-align: center;
    margin: 0.2vw 0;
}


.avatar__slide-1 {

    .modal__avatar {
        background-image: url(../img/avatar-bg-blue.png);
    }
}

.avatar__slide-2 {
    .modal__avatar {
        background-image: url(../img/avatar-bg-green.png);
    }
}

.avatar__slide-3 {
    .modal__avatar {
        background-image: url(../img/avatar-bg-pink.png);
    }
}

.avatar__slide-4 {
    .modal__avatar {
        background-image: url(../img/avatar-bg-purple.png);
    }
}

.avatar__slide-5 {
    .modal__avatar {
        background-image: url(../img/avatar-bg-red.png);
    }
}

.avatar__slide-6 {
    .modal__avatar {
        background-image: url(../img/avatar-bg-yellow.png);
    }
}

.modal__game-info {
    width: 17vw;
    height: auto;
    flex-shrink: 0;
}

.game__info-item {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1vw;
    gap: 0.5vw;
}

.game__info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input__label {
    padding-left: 0.2vw;
    font-family: "Raleway", sans-serif;
    font-size: 0.7vw;
    text-align: left;
    color: #fff;
    font-weight: 500;
    margin-bottom: 0.2vw;
}

.input {
    width: 100%;
    height: 2vw;
    padding: 0 10px;
    font-family: "Releway", sans-serif;
    font-size: 1.1vw;
    color: #fff;
    font-weight: 500;
    background-color: #202030;
    border: 2px solid #4a4a55;
    border-radius: 10px;
    box-sizing: border-box;
}

.game__info-btn {
    width: 2vw;
    height: auto;
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
    cursor: pointer;
    flex-shrink: 0;

    img {
        width: 100%;
        display: block;
        height: auto;
    }
}

.modal__profile-btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6vw;
}

.btn__modal {
    width: 8.4vw;
    height: 3.6vw;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(70, 73, 255, 0.7);

    span {
        font-size: 0.65vw;
    }

    .btn__wrapper {
        gap: 0.2vw;
        border-radius: 10px;
    }

    img {
        width: 3vw;
        height: auto;
    }
}

.modal__info-slider {
    width: 16.2vw;
    flex-shrink: 0;
}


.modal__info-slide {
    width: 100%;
    height: auto;
}

.modal__info-title {
    font-family: "Raleway", sans-serif;
    font-size: 1.1vw;
    text-align: center;
    color: #ffc045;
    font-weight: 800;
    margin-bottom: 0.9vw;
}

.modal__info-img {
    width: 100%;
    height: auto;
    border-radius: 0.8vw;
    margin-bottom: 1.6vw;
}

.modal__info-text {
    font-family: "Releway", sans-serif;
    text-align: center;
    font-size: 0.8vw;
    font-weight: 500;
    color: #fff;

    span {
        font-weight: 800;
    }
}

.unregister__section {

    .modal__block {
        height: 100%;
        align-items: stretch;
    }

    .modal__main {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 3vw;
    }

    .modal__main:before {
        display: none;
    }

    .statistic__player-title {
        width: 100%;
        text-align: center;
        font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 1.4vw;
        color: #fff;
        margin-bottom: 0.9vw;
    }

    .statistic__player {
        margin-bottom: 1vw;
    }

    .modal__avatar {
        filter: grayscale(100%);
    }
}

.btn-register {
    max-width: 18vw;
    min-width: auto;

    .btn__wrapper {
        padding: 0 1.8vw;
        gap: 2vw;
    }

    span {
        font-size: 1.1vw;
    }

    img {
        max-width: 4vw;
        max-height: 5vw;
    }

   
}