.shop__section {
    .modal__main {
        width: auto;
        display: flex;  
        flex-direction: column;
        align-items: center;
        padding-right: 2vw;
    }

    .modal__avatar {
        background: none;
    }

    .modal__main:before {
        right: 0;
    }

    .modal__block {
        position: relative;
        z-index: 3;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

.shop__amplifiers {
    width: 100%;
    height: auto;
    padding-left: 2vw;
    position: relative;
    z-index: 1;
}

.amplifiers__title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    color: #fff;
    text-align: center;
    font-size: 1.3vw;
    margin-bottom: 2.2vw;
}

.amplifiers__wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.amplifire__item {
    width: auto;
    margin-bottom: 0.8vw;
}

.amplifire__info {
    width: 100%;
    height: 6.4vw;
    object-fit: cover;
}

.unshop__text {
    font-size: 1.2vw;
    text-align: center;
}

.shop__nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #4f508e;
}

.shop__nav-item {
    background-color: transparent;
    padding: 0.5vw 1vw;
    font-family: "Raleway", sans-serif;
    font-size: 1.2vw;
    line-height: 1;
    border: none;
    color: #ababbe;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;

    &.active {
        padding-right: 3vw;
        color: #fff;

        &:before, &:after {
            opacity: 1;
        }
    }

    &:after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        bottom: 0px;
        left: 0;
        opacity: 0;
        transition: 0.3s ease;
    }

    &:before {
        content: "";
        width: 1.4vw;
        height: 1.4vw;
        background-image: url(../img/shop/gram-shop-icon.svg);
        position: absolute;
        right: 1vw;
        top: 55%;
        transform: translateY(-50%);
        opacity: 0;
        transition: 0.2s ease;
    }
}

.shop__items {
    width: 100%;
    height: auto;
    position: relative;
}

.shop__item {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    padding: 1vw 0 0;
    transition: 0.3s ease;

    &.active {
        opacity: 1;
        visibility: visible;
        z-index: 3;
        position: relative;
    }
}

.shop__item-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.shop__item-left {
    width: 65%;
    height: auto;
    flex-shrink: 0;
}

.shop__item-title {
    text-align: center;
    font-size: 1vw;
    margin-bottom: 3vw;
}

.shop__item-btns {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 3vw 0;
    margin-bottom: 4.5vw;
}

.btn__price {
    min-width: 9vw;
    height: 2.8vw;
    box-shadow: 0px 0px 10px 5px rgba(70, 73, 255, 0.7);

    &:hover {
        box-shadow: 0px 0px 10px 5px #B79846;
    }

    img {
        width: 1.4vw !important;
    }
}

.btn__price-gram {
    margin-left: -0.5vw;
}

.shop__buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;

    .input {
        width: 9vw;
        margin-right: 2vw;
    }
}

.shop__buy-info {
    font-family: "Raleway", sans-serif;
    font-size: 0.7vw;
    line-height: 1.3;
    position: relative;
    width: auto;

    span {
        position: absolute;
        bottom: -1.1vw;
        left: 0;
        font-size: 0.6vw;
        color: #a8a8ab;
    }
}

.shop__item-right {
    width: 32%;
    flex-shrink: 0;
    padding-left: 2vw;
    border-left: 2px solid #4f508e;
    padding-bottom: 2vw;

    .shop__item-title {
        margin-bottom: 1vw;
    }
}

.exchange__info {
    width: auto;
    height: auto;

}

.exchange__text {
    font-family: "Raleway", sans-serif;
    font-size: 0.8vw;
    line-height: 1.3;
    padding-left: 0.6vw;
    margin-bottom: 0.2vw;
}

.exchange__item {
    background-color: #202030;
    padding: 0.6vw 1vw;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.4vw;
    border-radius: 0.5vw;
    width: auto;
    margin-bottom: 1vw;
}

.exchange__star-icon {
    width: 1.2vw;
    height: auto;
}

.exchange__item-text {
    font-size: 0.9vw;
    line-height: 1;
}

.exchange__item-gram {
    width: 1.2vw;
    height: auto;
}

.exchange {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exchange__input-wrapper {
    position: relative;
    margin-bottom: 0.8vw;

    span {
        display: block;
        width: 50%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-family: "Raleway", sans-serif;
        font-size: 0.8vw;
        line-height: 1;
        color: #8989a3;
        padding: 0.15vw 0 0.15vw 0.7vw;
        border-right: 1px solid #8989a3;
        pointer-events: none;

    }

    .input {
        padding-left: 50%;
        text-align: center;
    }
}

.exchange__btn {
    margin: auto;
    display: block;
    margin-top: 1vw;
}

.shop__item-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 1vw;

    .shop__item-left {
        width: 60%;
    }

    .shop__item-title {
        margin-bottom: 0.5vw;
    }

    .shop__item-right {
        width: 36%;
    }   
    
    .owl-nav {
        position: static;
        top: auto;
        left: auto;
        transform: none;
    }

    .modal__avatar {
        width: 100%;
        height: auto;

        img {
            width: 80% !important;
        }
    }

    .shop__slider .owl-stage {
        padding: 20px 0;
    }

    .shop__slider .owl-item.center {
        .btn__price {
            box-shadow: 0px 0px 3px 2px #B79846;
        }
    }

    .modal__avatar-slide {
        padding: 0 15px;

        .btn__price {
            box-shadow: 0px 0px 3px 2px rgba(70, 73, 255, 0.7);

            &:hover {
                box-shadow: 0px 0px 3px 2px #B79846;
            }

            &.active {
                box-shadow: 0px 0px 3px 2px #B79846;
            }
        }
    }

    .modal__avatar-text {
        margin-bottom: 1vw;
    }
}




