.header__section {
    width: 100%;
    height: auto;
}

.header__title {
    padding-top: 21px;
    font-weight: 700;
    font-size: 29px;
    text-align: center;
    color: #de1a00;
}

.header__img {
    width: 100%;
    height: auto;
}

.line {
    width: 100%;
    height: auto;
    padding: 13px 20px;
    background: #ff4d00;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #fff;
}
