.footer__section {
}

.footer__section-wrapper {
}

.footer__content {
    width: 100%;
    max-width: 772px;
    height: auto;
    padding: 105px 0 205px;
}
.footer__logo {
}
.footer__title {
}
.footer__text {
}
.order__btn {
}
.order__btn-arrow {
}
