.main__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.bg__shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: radial-gradient(50% 50% at 50% 50%, #0c0d14 0%, rgba(12, 13, 20, 0.7) 100%);
}

.header__section {
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, #0a0b11 11%, rgba(10, 11, 17, 0) 100%);
    position: relative;
    z-index: 1;
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    padding: 5.6rem 0 6.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__about-link {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    font-family: "Haval", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #fff;

    img {
        width: 1.75rem;
        height: auto;
    }
}

.header__right {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.user {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
   
}

.user__character {
    width: 1.75rem;
    height: auto;
}

.user__name {
    font-family: "Haval", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;
}

.logout {
    width: 1.75rem;
    height: auto;
    cursor: pointer;

    img {
        width: 100%;
        height: auto;
    }
}

.header__enter-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    font-family: "Haval", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: #fff;

    img {
        width: 1.75rem;
        height: auto;
    }
}

.header__lang {
    display: flex !important;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;

    &.active {
        .header__lang-arrow {
            transform: rotate(180deg);
        }
    }

    .header__lang-flag {
        width: 1.75rem;
        height: auto;
    }

    .header__lang-arrow {
        width: 1rem;
        height: auto;
        transition: 0.3s ease;
    }
}


.lang__modal {
    display: flex;
    // flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -5rem;
    right: 0;
    width: auto;
    height: auto;
    gap: 0.5rem;
    padding: 0.8rem;
    background: #0c0d14;
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateY(-10%);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 100;
    pointer-events: none;

    &.active {
        transform: none;
        opacity: 1;
        pointer-events: auto;
    }

    &:before {
        content: "";
        width: 21px;
        height: 12px;
        transform: rotate(180deg);
        position: absolute;
        top: -12px;
        right: 1.5rem;
        background-image: url(../img/modal-tringle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.lang__modal-btn {
    display: inline-block;
    width: 1.75rem;
    height: auto;
    pointer-events: auto;

    img {
        width: 100%;
        height: auto;
    }
}

.main__section {
    width: 100%;
    height: 100%;
}

.main__section-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
    padding-bottom: 2rem;
}

.main__wrapper {
    margin-top: -7.6rem;   
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__subtitle {
    font-weight: 300;
    font-size: 1.1rem;
    letter-spacing: 1.18em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 1.4rem;
    transform: translateY(-10rem);
    opacity: 0;
    animation-delay: 0.3s;
    animation: title 2s forwards;
}

@keyframes title {
    0% {
        transform: translateY(-10rem) scale(0.3);
        opacity: 0;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

.main__title {
    font-family: "Wormbox", sans-serif;
    font-weight: 700;
    font-size: 7.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 3.125rem;
    animation: title 2s forwards;
}

.main__gamepad-link {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-family: "Haval", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    pointer-events: auto;

    img {
        width: 4rem;
        height: auto;
    }
}

.play {
    width: auto;
    height: auto;
    background: linear-gradient(180deg, rgba(186, 250, 86, 0.4) 0%, rgba(186, 250, 86, 0.05) 100%);
    backdrop-filter: blur(5px);
    border-radius: 2.5rem;
    padding: 1.125rem 3rem 0.8rem;
    border: 1px solid #25262d;
    box-shadow: 0 5px 5px 0 rgba(1, 6, 21, 0.5);
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;

    span {
        font-family: "Haval", sans-serif;
        font-weight: 400;
        font-size: 1.875rem;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        position: relative;
        z-index: 2;
    }

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 2.5rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(186, 250, 86, 0.4) 0%, rgba(186, 250, 86, 0.2) 100%);
        backdrop-filter: blur(5px);
        opacity: 0;
        transition: 0.5s ease;
    }

    &:after {
        content: "";
        width: 5.125rem;
        height: 2px;
        position: absolute;
        z-index: 2;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 1px 5px 0 #bafa56;
        background: #bafa56;
        border-radius: 2px;
        animation: btn-light 3s infinite;
    }

    &:hover {
        background: #000;

        &:before {
            opacity: 1;
        }
    }
}

@keyframes btn-light {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
}

.navigation__section {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, #0a0b11 11%, rgba(10, 11, 17, 0) 100%);
    position: relative;
    z-index: 1;
}

.navigation__section-wrapper {
    width: 100%;
    height: auto;
    padding: 2.875rem 0 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    background: #0c0d14;
    backdrop-filter: blur(4px);
    padding: 1.8rem 2rem 1.6rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap: 1rem;
}

.social__modal {
    display: flex;
    align-items: center;
    position: absolute;
    top: -6.5rem;
    left: 50%;
    width: auto;
    height: auto;
    gap: 2rem;
    padding: 1rem 1.4rem;
    background: #0c0d14;
    backdrop-filter: blur(4px);
    border-radius: 1.2rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: translate(-50%, 10%);
    opacity: 0;
    transition: 0.5s ease;
    z-index: 100;
    pointer-events: none;

    &.active {
        transform: translate(-50%, 0);
        opacity: 1;
        pointer-events: auto;
    }

    &:before {
        content: "";
        width: 21px;
        height: 12px;
        transform: translateX(-50%);
        position: absolute;
        bottom: -12px;
        left: 50%;
        background-image: url(../img/modal-tringle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

.social__link {
    display: block;
    width: auto;
    height: 1.43rem;
    cursor: pointer;

    img {
        width: auto;
        height: 100%;
    }
}

.navigation__link-wrapper {
    width: auto;
    height: auto;
    position: relative;
}

.navigation__link {
    width: 4.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 0.45rem;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    position: relative;

    &:before {
        content: "";
        width: 6.125rem;
        height: 4.8125rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        background-image: url(../img/nav/nav-active.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        transition: 0.5s ease;
    }

    &:after {
        content: "";
        width: 1.5rem;
        height: 2px;
        box-shadow: 0 1px 5px 0 #bafa56;
        background: #bafa56;
        border-radius: 2px;
        position: absolute;
        top: -0.8rem;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: 0.5s ease;
    }

    img {
        width: auto;
        height: 2rem;
    }

    &.active {
        &:before {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
        }
        &:after {
            opacity: 1;
            animation: btn-light 3s infinite;
        }
    }

}

@media (max-width: 1480px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1280px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 14px;
    }
    .container {
        width: 50rem;
    }
    .main__wrapper {
        margin-top: 0;
    }
}

@media (orientation: landscape) and (max-width: 1080px) {
    html {
        font-size: 1.4vw;
    }
    .header__section-wrapper {
        padding: 2rem 0 2rem;
    }
    .main__subtitle {
        font-size: 0.8rem;
        letter-spacing: 1em;
        margin-bottom: 1rem;
    }
    .main__title {
        font-size: 5.5rem;
        margin-bottom: 0.125rem;
    }
    .main__gamepad-link img {
        width: 3rem;
    }
    .navigation__section-wrapper {
        width: 100%;
        padding: 0rem 0 1rem;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100vw;
        padding: 0 15px;
    }
}

@media (max-width: 540px) {
    html {
        font-size: 3vw;
    }
    .main__wrapper {
        margin-top: -3rem;
        z-index: auto;
    }
    .main__bg {
        display: none;
    }
    .bg__shadow {
        display: none;
    }
    .site__wrapper {
        background-image: url(../img/mobile-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .header__right {
        gap: 2rem;
    }
    .header__about-link img {
        width: 1.85rem;
    }
    .user__character {
        width: 1.85rem;
    }
    .logout {
        width: 1.85rem;
    }
    .header__lang-flag {
        width: 1.85rem;
    }
    .header__right {
        gap: 1.5rem;
    }
    .main__subtitle {
        font-size: 0.8rem;
        letter-spacing: 0.91em;
        margin-bottom: 1rem;
    }
    .main__title {
        font-size: 4.8rem;
        margin-bottom: 2rem;
    }
    .header__section {
        position: relative;
        z-index: 2;
    }
    .lang__modal {
        position: fixed;
        top: 9rem;
        right: 15px;
        bottom: auto;
    }
    .navigation__section-wrapper {
        padding: 0rem 0 2rem;
    }
    .navigation__section {
        .container {
            padding: 0;
        }
    }
    .navigation {
        width: 100%;
    }
    .navigation__link {
        width: 5.2rem;
    }
    .social__modal {
        left: 0;
        transform: translate(0, 10%);
    }
    .social__modal.active {
        transform: translate(0, 0);
        left: 0;
    }
    .social__modal:before {
        transform: none;
        left: 1.6rem;
    }
}