.review__section-wrapper {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review__section-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    color: #222;
}

.review {
    border-bottom: 2px solid #ececec;
}

.review__name {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    color: #222;
    margin-bottom: 6px;
}

.review__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
}

.review__quote {
    width: 26px;
    height: auto;
    flex-shrink: 0;
    margin-right: 20px;
    margin-top: 5px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #222;
}

.review__answer {
    padding-left: 100px;
}

.review__img {
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.order__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #fff;
    padding: 20px 40px;
    border-radius: 10px;
    background: #ff3d00;
    cursor: pointer;
    display: inline-block;
    transition: 0.3s ease;

    &:hover {
        background: #b42a00;
    }
}

@media (max-width: 540px) {
    .review__section-wrapper {
        padding-bottom: 10vw;
        padding-top: 7vw;
    }
    .review__section-title {
        font-size: 7vw;
    }
    .review__wrapper {
        margin-bottom: 3vw;
    }
    .review__name {
        font-size: 5.5vw;
        margin-bottom: 1.4vw;
    }
    .review__quote {
        width: 6vw;
        margin-right: 4vw;
        margin-top: 1.2vw;
    }
    .review__text {
        font-size: 4.5vw;
    }
    .review__answer {
        padding-left: 10vw;
    }
    .review__img {
        border-radius: 5vw;
        margin-bottom: 4.5vw;
    }
    .order__btn {
        font-size: 4.5vw;
        padding: 4.5vw 7vw;
        border-radius: 2.5vw;
    }
    .footer__section-wrapper {
        padding: 2vw 0;
    }
    .footer__section-text {
        font-size: 4vw;
    }
}
