.review__section {
    overflow: hidden;
    background: linear-gradient(90deg, #ffeef6 0%, #ffd3e8 100%);
}

.review__section-wrapper {
    padding: 90px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.review__decor {
    position: absolute;
    height: auto;
}

.review__decor-1 {
    width: 395px;
    transform: rotate(-15deg);
    top: 170px;
    left: -440px;
}

.review__decor-2 {
    width: 176px;
    top: 100px;
    right: -250px;
}

.review__section-title {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    color: #7c395a;
    margin-bottom: 39px;
}

.review__slider {
    width: 100%;
    height: auto;

    .owl-nav {
        padding: 0;
        width: 100%;
        max-width: 360px;
        margin: auto;
        margin-top: 20px;
    }

    .owl-dots {
        width: 100%;
        padding: 0;
    }
}

.review {
    border-radius: 30px;
    background: #fffcf3;
    padding: 30px;
}

.review__quote {
    width: 41px !important;
    height: auto;
    margin-bottom: 12px;
}

.review__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #111;
    margin-bottom: 7px;
}

.review__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 1px solid #e994bc;

    .rating {
        width: auto;
    }
}

.review__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #7c395a;
}


.add__review {
    align-self: flex-end;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #444;
    cursor: pointer;
    margin-top: -42px;
    margin-bottom: 26px;
    position: relative;
    z-index: 2;
    margin-right: 30px;
}


@media (max-width: 700px) {
    .add__review {
        position: static;
        align-self: center;
        margin-top: 8px;
        margin-right: 0;
        margin-bottom: 0;
    }
    .review__decor-1 {
        width: 285px;
        top: 40px;
        left: -150px;
    }
    .review__section-title {
        position: relative;
        z-index: 1;
    }
    .review__decor-2 {
        width: 160px;
        top: 90px;
        right: -15px;
        opacity: 0.5;
    }
}

@media (max-width: 540px) {
    .review__section-wrapper {
        padding: 10vw 0 11vw;
    }
    .review__decor-1 {
        width: 60vw;
        top: 11vw;
        left: -38vw;
    }
    .review__decor-2 {
        width: 42vw;
        top: 17vw;
    }
    .review__section-title {
        font-size: 7vw;
        margin-bottom: 5vw;
    }
    .review {
        border-radius: 7vw;
        padding: 7vw 7vw 5.5vw;
    }
    .review__quote {
        width: 10vw !important;
        margin-bottom: 3vw;
    }
    .review__text {
        font-size: 4.8vw;
        margin-bottom: 2vw;
    }
    .review__footer {
        padding-top: 3.5vw;
    }
    .review__name {
        font-size: 4.8vw;
    }
    .review__slider .owl-nav {
        max-width: 100%;
        margin-top: 4.8vw;
        padding: 0 4.8vw
    }
    .add__review {
        margin-top: 2vw;
        font-size: 4vw;
    }
}