:root {
  --font-family: "Noto Sans", sans-serif;
  --second-family: "Source Sans Pro", sans-serif;
  --text-color: #333;
  --white-color: #fff;
  --red-color: #d82231;
  --blue-color: #0b308e;
  --line-color: #8bc120;
  --grey-color: #ccc;
  --info-block-bg: #e5e5e5;
  --yellow-bg: #ffeab0;
  --question-color: #c5edff;
  --answer-color: #94dcfd;
  --card-bg-gradient: linear-gradient(180deg, #0081bd 0%, #005f8b 100%);
  --table-bg: #97efba;
  --table-bg-light: #eee;
  --table-bg-dark: #c9ffd9;
  --table-border-color: #929292;
  --breadcrumbs-color: #a8a8a8;
}
