.header__section {
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.header__section-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 0 50px;
    position: relative;
}

.header__nav-mobile {
    display: none;
}

.mobile__menu-open {
    display: none;
}

.header__nav {
    width: 100%;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav-logo {
    width: 188px;
    height: auto;
}

.header__nav-links {
    width: auto;
}

.header__nav-link {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    position: relative;
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
    }

    &:before {
        content: "";
        width: 30px;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: -4px;
        left: 0;
        transition: 0.3s ease;
    }

    &:hover {
        &:before {
            width: 75%;
            background-color: #6c7551;
        }
    }

    // &.active {
    //     &:before {
    //         width: 75px;
    //         background-color: #6c7551;
    //         max-width: 100%;
    //     }
    // }
}

.order__nav-btn {
    font-weight: 400;
    font-size: 18px;
    color: #e6eec6;
    padding: 20px 60px;
    border: 1px solid #e6eec6;
    transition: 0.3s ease;

    &:hover {
        background-color: #e6eec6;
        color: #3B3D32;
    }
}

.header__content {
    width: 670px;
    height: auto;
    position: relative;
    z-index: 1;
    padding-bottom: 162px;
}

.header__decor {
    width: 1000px;
    height: 245px;
    position: absolute;
    z-index: -1;

    &:before {
        content: "";
        width: 35px;
        height: 35px;
        position: absolute;
    }
}

.header__decor-1 {
    background: #6c7551;
    left: -790px;
    top: -55px;

    &:before {
        top: -35px;
        right: -35px;
        background: #6c7551;
    }
}

.header__name-logo {
    width: 613px;
    height: auto;
    margin-bottom: 25px;
}

.header__text {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    margin-bottom: 50px;
}

.header__prod {
    width: 974px;
    height: auto;
    position: absolute;
    right: -764px;
    top: 2px;
}

.order__btn {
    padding: 20px 90px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    background: #f09001;
    border: 1px solid #f09001;
    transition: 0.3s ease;
    display: inline-block;

    &:hover {
        background-color: transparent;
    }
}

.header__next {
    align-self: center;
    padding: 20px;
    position: relative;
    font-weight: 400;
    font-size: 18px;
    color: #fff;

    &:hover {
        span:nth-child(1) {
            transform: translate(2px, 2px);
        }
        span:nth-child(2) {
            transform: translate(-2px, 2px);
        }
        span:nth-child(3) {
            transform: translate(2px, -2px);
        }
        span:nth-child(4) {
            transform: translate(-2px, -2px);
        }
    }

    span {
        display: block;
        width: 10px;
        height: 10px;
        border: 2px solid #f09001;
        position: absolute;
        transition: 0.3s ease;

        &:nth-child(1) {
            top: 0;
            left: 0;
            border-right: none;
            border-bottom: none;
        }

        &:nth-child(2) {
            top: 0;
            right: 0;
            border-left: none;
            border-bottom: none;
        }

        &:nth-child(3) {
            bottom: 0;
            left: 0;
            border-right: none;
            border-top: none;
        }

        &:nth-child(4) {
            bottom: 0;
            right: 0;
            border-left: none;
            border-top: none;
        }
    }
}

.header__decor-2 {
    background-color: rgba(230, 238, 198, 0.2);
    bottom: 0;
    right: -540px;
    height: 190px;
    z-index: auto;

    &:before {
        top: -35px;
        left: -35px;
        background-color: rgba(230, 238, 198, 0.2);
    }
}


@media (max-width: 1400px) {
    .container {
        width: 1200px;
    }
    .header__content {
        width: 600px;
    }
    .header__name-logo {
        width: 100%;
    }
    .header__text {
        font-size: 28px;
        margin-bottom: 40px;
    }
    .header__prod {
        width: 860px;
        right: -700px;
        top: 25px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__nav-logo {
        width: 170px;
    }
    .header__nav-link {
        font-size: 18px;
        margin-right: 40px;
    }
    .order__nav-btn {
        padding: 12px 34px;
    }
    .header__content {
        width: 520px;
    }
    .header__text {
        font-size: 25px;
        margin-bottom: 40px;
    }
    .order__btn {
        padding: 15px 70px;
    }
    .header__prod {
        width: 740px;
        right: -600px;
        top: 25px;
    }
    .header__decor-1 {
        height: 185px;
        top: -40px;
    }
    .header__nav {
        margin-bottom: 120px;
    }
    .header__decor-2 {
        right: -650px;
        height: 160px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__section .header__nav-links {
        display: none;
    }
    .header__section .order__nav-btn {
        display: none;
    }
    .mobile__menu-open {
        display: block;
        width: 32px;
        height: auto;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
        }
    }
    .header__nav {
        margin-bottom: 107px;
    }
    .header__content {
        width: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header__prod {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
    }
    .header__next {
        display: none;
    }
    .header__decor-2 {
        display: none;
    }
    .header__name-logo {
        width: 80%;
    }
    .header__text {
        font-size: 28px;
        margin-bottom: 40px;
        text-align: center;
    }
    .header__nav-mobile {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        align-items: center;
        width: 100%;
        z-index: 100;
        background: #23251d;
        padding: 80px 0 75px;
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        pointer-events: none;
        transition: 0.5s ease;

        &.active {
            opacity: 1;
            visibility: visible;
            transform: translateX(0);
            pointer-events: auto; 
        }

        .header__nav-links {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 42px;
        }

        .order__nav-btn {
            display: block;
        }
        
    }
    .nav__mobile-close {
        position: absolute;
        top: 23px;
        right: 23px;
        width: 32px;
        height: auto;
        cursor: pointer;
        display: block;

        img {
            width: 100%;
            height: auto;
        }
    }
    .header__nav-link {
        margin-right: 0;
        margin-bottom: 30px;
        font-size: 24px;

        &:before {
            width: 0;
        }

        &:hover {
            &:before {
                width: 100% !important;
                background-color: #fff;
            }
        }

        &.active {
            &:before {
                width: 0;
                background-color: #fff;
            }
        }
    }
    .header__nav-logo {
        width: 180px;
    }
    .order__nav-btn {
        padding: 20px 60px;
        margin-top: auto;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media (max-width: 540px) {
    .header__section-wrapper {
        padding: 7vw 0 12vw;
    }
    .header__nav {
        margin-bottom: 24vw;
    }
    .header__nav-logo {
        width: 45vw;
    }
    .header__name-logo {
        width: 80.5%;
        margin-bottom: 4.8vw;
    }
    .header__text {
        font-size: 5.8vw;
        margin-bottom: 25vw;
    }
    .header__prod {
        width: 120%;
        margin-bottom: 12vw;
    }
    .header__section {
        background-position: 65% top;
    }
    .order__btn {
        padding: 4.8vw 21vw;
        font-size: 4.5vw;
    }
    .header__nav-mobile {
        padding: 19vw 0 18vw;
    }
    .header__nav-mobile {
        padding: 19vw 0 18vw;
    }
    .header__nav-link {
        margin-bottom: 7vw;
        font-size: 5.8vw;
    }
    .order__nav-btn {
        padding: 4.8vw 14vw;
        font-size: 4.5vw;
    }
    .header__decor-1 {
        width: 100vw;
        height: 24vw;
        top: -8vw;
        left: -55vw;
    }
    .header__decor:before {
        top: -8.5vw;
        right: -8.5vw;
        width: 8.5vw;
        height: 8.5vw;
    }
}