@import "fonts";
@import "main";
@import "modal";
@import "header";
@import "info";
@import "galary";
@import "advantage";
@import "card";
@import "review";
@import "footer";

@media (max-width: 1480px) {
}