.modal__wrapper {
	width: 100%;
	max-width: 360px;
	display: none;

	form {
		padding-top: 30px;
	}
}

.fancybox-content {
    background: #222;
    padding: 0;
	border-radius: 16px;
	border: 1px solid #888;
}

.fancybox-slide--html .fancybox-close-small {
	color: #fff;
}

.fancybox-is-open .fancybox-bg {
    opacity: 0.95;
}