.info__section {

}

.info__section-wrapper {
}

.info__img {
    width: 100%;
    border-radius: 10px;
    margin: 42px 0;
}

.info__img-1 {
    margin-top: -100px;
}

.info__text {
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #222;
    margin-bottom: 15px;
}

.red {
    color: #f00;
}
