.header__nav {
    background: #274375;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0;
    }
}

.header__nav-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        display: inline-block;
        margin-left: 10px;
        padding: 17px 0 17px 10px;
        border-left: 1px solid rgba(236, 236, 236, 0.5);
        font-size: 15px;
        text-transform: uppercase;
    }
}

.header__nav-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    color: #fff;
    margin-left: 54px;

    &:first-child {
        margin-left: 0;
    }
}

.order__nav {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #111;
    padding: 10px 15px;
    border-radius: 6px;
    background: #ffbd00;
    transition: 0.3s ease;
    margin-left: 100px;
    display: inline-block;
    flex-shrink: 0;

    &:hover {
        background: #fff;
    }
}

.header__section-wrapper {
    padding: 30px 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    img {
        width: 140px;
        height: auto;
        margin-right: 30px;
    }
}

.header__logo-wrapper {
    width: auto;

    h2 {
        font-weight: 600;
        font-size: 30px;
        color: #0093d5;
    }
    h3 {
        font-weight: 400;
        font-size: 36px;
        color: #0093d5;
    }
}

.header__title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #092862;
    margin-bottom: 9px;
    width: 100%;
    max-width: 650px;
}

.header__subtitle {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #ff3d00;
    margin-bottom: 40px;
}

.heder__img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 28px;
}

.header__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    color: #222;
    margin-bottom: 20px;
    text-indent: 20px;
}

.bold {
    font-weight: 600;
}


@media (max-width: 1080px) {
    .container {
        width: 700px;
    }
    .header__link {
        font-size: 16px;
        margin-left: 20px;
    }
    .order__nav {
        font-size: 18px;
        padding: 8px 10px;
        margin-left: 40px;
    }
    .header__nav-title {
        font-size: 16px;
    }
    .header__nav-title span {
        padding: 15px 0 15px 10px;
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header__nav .container {
        flex-direction: column;
        align-items: center;
        padding: 10px 15px;
    }
    .header__nav-title {
        justify-content: center;
    }
    .header__nav-links {
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .header__logo img {
        width: 20vw;
        margin-right: 3vw;
    }
    .header__logo-wrapper h2 {
        font-size: 4.5vw;
    }
    .header__logo-wrapper h3 {
        font-size: 5.2vw;
    }
}

@media (max-width: 540px) {
    .header__nav-title {
        font-size: 4vw;
    }
    .header__nav-title span {
        padding: 2vw 0 2vw 2vw;
        font-size: 3.6vw;
        margin-left: 2vw;
    }
    .header__nav-links {
        justify-content: space-between;
    }
    .header__link {
        margin: 0;
        font-size: 4vw;
    }
    .order__nav {
        margin: 0;
        font-size: 4.5vw;
        padding: 2vw 2.5vw;
    }
    .header__nav .container {
        padding: 10px 15px;
    }
    .header__logo {
        margin-bottom: 9vw;
    }
    .header__title {
        font-size: 6vw;
        margin-bottom: 2vw;
    }   
    .header__subtitle {
        font-size: 6vw;
        margin-bottom: 7vw;

        br {
            display: none;
        }
    } 
    .heder__img {
        margin-bottom: 6vw;
    }
    .header__text {
        font-size: 4.5vw;
        margin-bottom: 4vw;
        text-indent: 4.5vw;
    }
}