.doc__section {
    background-image: url(../img/doc-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.doc__section-wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .info__tag {
        color: #fff;
    }
}

.doc__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

.doc__btn {
    width: 100%;
    max-width: 370px;
    height: auto;
    padding: 20px;
    font-family: "Unbounded", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-decoration: underline;
    color: #066dca;
    border-radius: 10px;
    background: #fff;
    line-height: normal;
    text-align: center;
    transition: 0.3s ease;

    &:hover {
        background-color: #066dca;
        color: #fff;
    }
}

@media (max-width: 540px) {
    .doc__section {
        background-image: url(../img/doc-bg-mobile.jpg);
    }
    .doc__section-wrapper {
        padding: 19vw 0;

        .info__tag {
            margin-bottom: 7vw;
        }
    }
    .doc__title {
        font-size: 7.4vw;
        margin-bottom: 14vw;
    }
    .doc__btn {
        padding: 4.8vw;
        font-size: 4.2vw;
    }
}