.footer__section {
    position: relative;
    overflow: hidden;
    border-radius: 100px 100px 0 0;
    background-color: #447f6d;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../img/header-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.1;
    }
}

.footer__section-wrapper {
    .header__content {
        padding: 100px 0 97px;
    }
    .header__logo {
        color: #fff;
        border: 2px solid #fff;
    }
    .header__title {
        color: #fff;
    }
    .header__text {
        color: #fff;
    }
    .old__price {
        color: #fff;
    }
    .new__price {
        color: #ffc700;
    }
    .order__btn {
        background-color: #ffc700;
        color: #173935;

        &:hover {
            background-color: #ffe500;
        }
    }
    .order__info {
        color: #ffe500;
    }
    .header__item {
        background-color: #326907;
    }
}

.footer__line {
    background: #3d7262;
}

.footer__line-wrapper {
    padding: 10px 0;
}

.footer__line-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer__line-item {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #cacaca;
}


@media (max-width: 1080px) {
    .footer__section:before {
        opacity: 0.2;
    }
}

@media (max-width: 540px) {
    .footer__section {
        border-radius: 12vw 12vw 0 0;
    }
    .footer__section:before {
        background-position: 24% center;
    }
    .footer__section-wrapper .header__content {
        padding: 12vw 0 11vw;
    }
    .footer__line-list {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }
    .footer__line-item {
        font-size: 3.5vw;
    }
    .footer__line-wrapper {
        padding: 2vw 0;
    }
    .fancybox-content {
        padding: 44px 15px 20px;
    }
}