@font-face {
    font-family: "Tactic Sans Extended";
    src: url("../fonts/TacticSansExd-Bld.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-ExtraBold.woff") format("woff");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Wormbox";
    src: url("../fonts/wormbox_rounded.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Radiotechnika";
    src: url("../fonts/Radiotechnika.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
