html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
    pointer-events: none;
    user-select: none;
}
*:focus-visible {
	outline: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html, body {position: fixed; top: 0; bottom: 0; left: 0; right: 0;}

body {
	font-size: 15px;
	font-family: 'Tactic Sans Extended', sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color: #fff;
	background: #000;
}

html, body, .modal__section {
    touch-action: pan-x pan-y;
}

.main {
    width: 100%;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    background-image:  url(../img/court.png);
    background-repeat: repeat;
    background-position: center;
    background-size: 27%;
    position: relative;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(0deg, rgba(54,54,232,0.5) 0%, rgba(255,255,255,0) 50%, rgba(54,54,232,0.5) 100%);
        z-index: -1;
    }

    &:after {
        content: "";
        width: 60%;
        height: 60%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        background-color: rgba(51,55,162,0.7);
        filter: blur(100px);
        mix-blend-mode: plus-lighter;
        opacity: 1;
        transition: 0.3s ease;
    }

    &.hide {
        &:after {
            opacity: 0;
        }
    }
}

.bg__light {
    position: fixed;
    border-radius: 100%;
    z-index: -1;
    filter: blur(10px);
    opacity: 0;
    transition: 2s linear;
    animation: pulse 3s ease infinite;
    animation-delay: 3s;

    &.show {
        opacity: 1;
    }
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.bg__light-yellow {
    width: 200px;
    height: 200px;
    background-color: #ffb900;
    box-shadow: 0px 10px 50px 50px rgba(255,185,0,1);
    top: 68vh;
    left: 26vw;
}

.bg__light-green {
    width: 300px;
    height: 300px;
    background-color: #00e93d;
    box-shadow: 0px 10px 50px 50px rgba(0,233,61,1);
    top: 28vh;
    left: 16vw;
    animation: pulse 4s ease infinite;
    animation-delay: 3s;
}

.bg__light-blue {
    width: 350px;
    height: 350px;
    background-color: #00adf9;
    box-shadow: 0px 10px 50px 50px rgba(0,173,249,1);
    bottom: -9vh;
    right: 19vw;
    animation: pulse 2s ease infinite;
    animation-delay: 3s;
}

.bg__light-red {
    width: 300px;
    height: 300px;
    background-color: #ff1513;
    box-shadow: 0px 10px 50px 50px rgba(255,21,19,1);
    top: 34vh;
    right: 16vw;
}

.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.alert {
    position: fixed;
    right: 20px;
    bottom: 20px;
    max-width: 300px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    transform: translateY(200%);
    transition: 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 100;

    &.active {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
    }
}

.alert-warning {
    background-color: #E53935;
    z-index: 200;
}

@import "fonts";
@import "main";
@import "profile";
@import "shop";
@import "statistic";
@import "settings";
@import "play";
@import "game-over";
@import "exit";
@import "components";
@import "preloader";
@import "autorization";


@media (max-width: 1080px) {
    .gram__icon {
        width: 8.4%;
    }
    .main {
        background-size: 38%;
    }
    .gram__icons {
        width: 100vw;
        height: 92vw;
    }
    .gram__icon-1 {
        top: 39.2%;
        right: 16.7%;
    }
    .gram__icon-2 {
        top: 33.2%;
        right: 7.4%;
    }
    .gram__icon-3 {
        top: 45%;
        right: 7.4%;
    }
    .gram__icon-4 {
        bottom: 10.6%;
        right: 7.4%;
    }
    .gram__icon-5 {
        bottom: 10.6%;
        right: 26.5%;
    }
    .gram__icon-6 {
        bottom: 16.2%;
        right: 16.8%;
    }
    .gram__icon-7 {
        top: 39.2%;
        left: 17.2%;
    }
    .gram__icon-8 {
        top: 50.6%;
        left: 17.2%;
    }
    .gram__icon-9 {
        top: 45%;
        left: 7.7%;
    }
    .gram__icon-10 {
        bottom: 16.2%;
        left: 17.2%;
    }
    .gram__icon-11 {
        bottom: 10.6%;
        left: 7.7%;
    }
    .btn__settings {
        top: 3vw;
        left: 4vw;
    }
    .btn__statistic {
        top: 3vw;
        right: 4vw;
    }
    .main__page-center h1 {
        margin-bottom: 3vw;
    }
    .main__title {
        font-size: 10vw;
    }
    .main__btns {
        gap: 2vw;
    }
    .btn {
        height: 8vw;
    }
    .btn__rounded {
        border-radius: 8vw;
        min-width: 24vw;
    }
    .btn__rounded .btn__wrapper {
        border-radius: 8vw;
    }
    .btn__rounded img {
        max-width: 4vw;
        max-height: 5vw;
    }
    .btn span {
        font-size: 2vw;
    }
    .btn__rectangle img {
        width: 5vw;
        height: auto;
    }
    .btn__rectangle span {
        font-size: 1.6vw;
    }
    .modal__section .main__title {
        display: none;
        font-size: 5vw;
        margin-bottom: 2vw;
    }
    .modal__wrapper {
        width: 80vw;
        height: auto;
        padding: 1.5vw 2vw 5vw;
    }
    .modal__block {
        align-items: stretch;
    }
    .btn__back, .exit__profile {
        top: 2vw;
        left: 2vw;
        font-size: 2vw;
    }
    .btn__back img, .exit__profile img {
        width: 2.4vw;
    }
    .exit__profile {
        left: auto;
        right: 2vw;
    }
    .modal__title {
        font-size: 2vw;
    }
    .modal__divider {
        margin-bottom: 1.5vw;
    }
    .modal__main {
        width: 46vw;
    }
    .modal__main-title {
        font-size: 1.4vw;
        margin-bottom: 1.5vw;
    }
    .modal__avatar-slider {
        width: 16vw;
    }
    .modal__avatar {
        width: 16vw;
        height: 16vw;
    }
    .modal__avatar img {
        width: 9vw !important;
    }
    .modal__avatar-text {
        font-size: 1.2vw;
    }
    .avatar__name {
        height: 3.2vw;
        font-size: 1.3vw;
        margin: 0.2vw 0;
    }
    .modal__avatar-slider .owl-nav {
        top: 7.2vw;
        width: 13.5vw;
    }
    .modal__avatar-slider .owl-nav button {
        width: 1.5vw;
        height: 2vw;
    }
    .modal__game-info {
        width: 27vw;
    }
    .input__label {
        padding-left: 0.4vw;
        font-size: 1vw;
        margin-bottom: 0.2vw;
    }
    .input {
        height: 3vw;
        font-size: 1.4vw;
    }
    .game__info-btn {
        width: 3vw;
    }
    .btn__modal {
        width: 14.4vw;
        height: 7vw;
    }
    .btn__modal img {
        width: 4vw;
    }
    .btn__modal span {
        font-size: 1.1vw;
    }
    .modal__info-slider {
        width: 26.2vw;
    }
    .modal__info-title {
        font-size: 1.4vw;
        margin-bottom: 1vw;
    }
    .modal__info-img {
        border-radius: 1.3vw;
        margin-bottom: 1.6vw;
    }
    .modal__info-text {
        font-size: 1.2vw;
    }
    .btn__price {
        height: 5vw;
        min-width: 14vw;

        span {
            font-size: 1.6vw;
        }
    }
    .btn__price img {
        width: 2.5vw;
    }
    .shop__amplifiers {
        padding-left: 4vw;
    }
    .amplifiers__title {
        font-size: 1.6vw;
    }
    .modal__main-title {
        font-size: 1.6vw;
        margin-bottom: 1.5vw;
    }
    .amplifire__info {
        height: 9.7vw;
    }
    .statistic__section .modal__main {
        width: 46vw;
    }
    .statistic__player-title {
        width: 16vw;
        font-size: 1.6vw;
        margin-bottom: 1.2vw;
    }
    .statistic__player {
        width: 16vw;
    }
    .modal__statistic {
        width: 25.2vw;
    }   
    .statistic__table-wrapper {
        height: 41.6vw;
    } 
    .statistic__table-title {
        padding: 0.6vw;
        font-size: 1.2vw;
    }
    .statistic__table-overflow {
        max-height: 36vw;
    }
    .statistic__table thead {
        font-size: 1vw;
    }
    .statistic__table td {
        padding: 0.25vw 0.5vw;
        font-size: 1.2vw;
    }
    .settings__block-title {
        font-size: 1.3vw;
        margin-bottom: 2.5vw;
    }
    .settings__title {
        height: 3vw;
        margin-bottom: 1.4vw;
        font-size: 1.1vw;
    }
    .settings__title img {
        margin-right: 0.6vw;
    }
    .settings__items-wrapper {
        margin-bottom: 1.5vw;
        gap: 0.4vw;
    }
    .check__box {
        width: 5.2vw;
        height: 2.4vw;
        border-width: 1px;
    }
    .check__box:before {
        width: 2.2vw;
        height: 2.2vw;
    }
    .checkbox__input:checked + .check__box:before {
        transform: translate(2.75vw, -50%);
    }
    .settings__img-wrapper img {
        width: 7vw;
        height: auto;
    }
    .settings__img-wrapper {
        margin-bottom: 1vw;
    }
    .checkbox__text {
        font-size: 1vw;
    }
    .settings__range {
        margin-bottom: 1.5vw;
    }
    .input__range-wrapper {
        width: 100%;
        height: 2.6vw;
    }
    .range__value {
        width: 3.4vw;
        font-size: 1.4vw;
        margin-left: 0.8vw;
    }
    .input__range-wrapper {
        border-width: 1px;
    }
    .btn {
        padding: 1px;
    }
    .btn__wrapper {
        border-width: 2px;
    }
    .btn__rounded-small {
        border-radius: 6vw;
        min-width: 21vw;
        height: 6vw;

        span {
            font-size: 1.6vw;
        }
    }
    .settings__block-center {
        padding: 0 1.5vw;
        padding-bottom: 4vw;
    }
    .settings__block:first-child {
        padding-right: 1.4vw;
    }
    .settings__block:last-child {
        padding-left: 1.4vw;
    }
    .settings__title img {
        width: auto;
        height: auto;
        max-width: 1.6vw;
        max-height: 2vw;
        object-fit: cover;
    }
    .play__block {
        width: 45vw;
        padding-right: 3vw;
    }
    .play__block-title {
        font-size: 1.4vw;
        margin-bottom: 1.2vw;
    }
    .play__item {
        margin-top: 2vw;
    }
    .play__item-info:before {
        width: 21.6vw;
        height: 1.2vw;
        top: 2.2vw;
    }
    .play__item-title {
        font-size: 1.4vw;
        margin-bottom: 0.6vw;
    }
    .play__item-text {
        font-size: 1.4vw;
    }
    .play__item-description {
        font-size: 1vw;
    }
    .play__info-list {
        font-size: 1.1vw;
    }
    .play__item-info {
        padding-top: 1vw;
    }
    .play__info {
        width: 27.5vw;
    }
    .play__info-title {
        margin-bottom: 1.6vw;
        font-size: 1.6vw;
    }
    .play__info-img {
        border-radius: 1.2vw;
        margin-bottom: 1.6vw;
    }
    .play__info-text {
        font-size: 1vw;
        padding: 0 1vw;
        line-height: 1.5;
        margin-bottom: 2vw;
    }
    .play__info-btn {
        height: 3vw;
        border-radius: 3vw;
        margin-bottom: 2vw;
        font-size: 1vw;
    }
    .game-over__section .modal__wrapper {
        width: 70vw;
    }
    .game-over__section .modal__main {
        width: 42vw;
        padding-bottom: 0;
    }
    .game-over__section .modal__game-info {
        width: 22.6vw;
    }
    .game-over__result {
        width: 19.4vw;
    }
    .btn__game-over {
        width: 18.4vw;
        height: 7.4vw;

        span {
            font-size: 1.4vw;
        }
    }
    .btn__game-over img {
        width: auto;
        height: 3.6vw;
    }
    .btn__game-over .btn__wrapper {
        gap: 0.8vw;
    }
    .exit__block {
        width: 40vw;
    }
    .btn__modal-exit span {
        font-size: 2vw;
    }
    .btn__exit-disabled {
        top: -3.76vw;
    }
    .exit__block-text {
        font-size: 1.8vw;
        margin-bottom: 1vw;
    }
    .exit__block-small {
        top: 3vw;
    }
    .exit__timer-block {
        width: 13vw;
        height: 13vw;
    }
    .exit__timer {
        font-size: 5vw;
    }
    .btn__square, .btn__circle {
        width: 8vw;
        height: 8vw;
    }
    .btn__chat {
        top: 12vw;
        right: 3vw;
    }
    .btn__play-1 {
        right: 3vw;
        bottom: 14vw;
    }
    .btn__play-2 {
        bottom: 4vw;
        right: 11vw;
    }
    .btn__circle {
        width: 10vw;
        height: 10vw;
    }
    .exit__score-text {
        font-size: 4vw;
    }
    .exit__coins-text {
        font-size: 2.8vw;
    }
    .preloader__title {
        font-size: 16vw;
        margin-bottom: 1vw;
    }
    .preloader__info-text {
        font-size: 1.8vw;
    }
    .preloader__info {
        border-radius: 6vw;
        padding: 1vw 3vw;
    }
    .preloader__info-divider {
        height: 4vw;
        margin: 0 1.6vw;
    }
    .preload__section .gram__icon-1, .autorization__section .gram__icon-1 {
        top: 21.6%;
        right: 45.3%;
    }
    .preload__section .gram__icon-2, .autorization__section .gram__icon-2 {
        top: 16%;
        right: 35.8%;
    }
    .preload__section .gram__icon-3, .autorization__section .gram__icon-3 {
        top: 16%;
        left: 36.6%;
    }
    .preload__section .gram__icon-4, .autorization__section .gram__icon-4 {
        bottom: 28%;
        right: 16.6%;
    }
    .preload__section .gram__icon-5, .autorization__section .gram__icon-5 {
        bottom: 28%;
        left: 17.4%;
    }
    .character__icon-1 {
        top: 15%;
        right: 12%;
        width: 12%;
    }
    .character__icon-2 {
        bottom: 15%;
        right: 34%;
        width: 10%;
    }
    .character__icon-3 {
        top: 28%;
        left: 16%;
        width: 8%;
    }
    .character__icon-4 {
        bottom: 22%;
        left: 18%;
        width: 6%;
    }
    .game__chat, .rating__block {
        width: 28vw;
        padding: 2vw 1.2vw;
    }
    .chat__title {
        font-size: 2vw;
        margin-bottom: 0.6vw;
    }
    .chat__name {
        font-size: 1.4vw;
    }
    .chat__message {
        padding: 1vw;
        font-weight: 500;
        font-size: 1.2vw;
        border-radius: 1vw;
    }
    .chat__photo {
        width: 2.8vw;
    }
    .chat__message::before {
        width: 1.6vw;
        height: 1.6vw;
        bottom: -0.35vw;
        right: -0.55vw;
    }    
    .chat__item-answer .chat__message:before {
        left: -0.55vw;
    }
    .game__chat-wrapper {
        gap: 0.8vw;
        height: 31vw;
        max-height: 31vw;
        overflow: auto;
    }
    .rating__title {
        font-size: 2.6vw;
    }
    .rating__prize-main {
        width: 6vw;
    }
    .rating__block .game__chat-wrapper {
        max-height: 31.1vw;
    }
    .rating__list-item {
        font-size: 1.6vw;
    }
    .rating__list-item img {
        width: 3.5vw;
    }
    .rating__list {
        gap: 1.2vw;
        padding-right: 2vw;
    }
    .modal__wrapper-shadow {
        top: 32%;
        left: 5%;
        width: 90%;
        height: 40%;
    }
    .unregister__section .statistic__player-title {
        font-size: 2vw;
        margin-bottom: 1vw;
    }
    .unregister__section .modal__main {
        padding: 0;
    }
    .add__balance {
        height: 5vw;

        .btn__wrapper {
            gap: 0.6vw;
        }
    }
    .balance__section .statistic__table-wrapper {
        width: 100%;
        height: 20vw;
    }
    .balance__section .statistic__table-overflow {
        max-height: 15vw;
    }
    .balance {
        font-size: 2vw;
    }
    .unshop__text {
        font-size: 1.8vw;
    }
    .btn__lang {
        height: 4.6vw;

        img {
            height: 4vw;
        }

        span {
            font-size: 1.4vw;
        }
    }
    .lang__wrapper {
        bottom: 6vw;
    }
    .btn__lang-item img {
        width: 3vw;
    }
    .btn__lang-item span {
        font-size: 1.4vw;
    }
    .game__chat-btn {
        width: 3vw;
        height: 3vw;
    }
    .game__chat-btn img {
        width: 1.2vw;
        height: auto;
    }
    .game__chat-send .input {
        font-size: 1.3vw;
    }
    .btn-register span {
        font-size: 1.5vw;
    }
    .autorization__info {
        font-size: 2vw;
    }


    .shop__nav-item {
        font-size: 1.8vw;
        padding: 0.5vw 1vw
    }
    .shop__nav-item-1 {
        padding-right: 3vw;
    }
    .shop__nav-item-1:before {
        width: 1.8vw;
        height: 1.8vw;
        right: 0.7vw;
        top: 52%;
    }
    .shop__item-title {
        font-size: 1.6vw;
        margin-bottom: 3vw;
    }
    .shop__item-btns {
        gap: 3vw 0;
        margin-bottom: 5vw;
    }
    .btn__price {
        height: 4vw;
        min-width: 13vw;
    }
    .btn__price span {
        font-size: 1.5vw;
    }
    .shop__buy-info {
        font-size: 1.1vw;
    }
    .shop__buy-info span {
        font-size: 1vw;
        bottom: -1.5vw;
    }
    .shop__buy .input {
        width: 13vw;
        margin-right: 4.5vw;
    }
    .exchange__text {
        font-size: 1.2vw;
        margin-bottom: 0.5vw;
    }
    .shop__buy .input::placeholder {
        font-size: 1.1vw;
    }
    .shop__section .modal__wrapper {
        height: 52vw;
    }
    .exchange__star-icon, .exchange__item-gram {
        width: 1.4vw;
    }
    .exchange__item-text {
        font-size: 1.1vw;
    }
    .exchange__input-wrapper {
        width: 100%;
    }
    .exchange__input-wrapper span {
        font-size: 1.2vw;
    }
    .shop__buy-main {
        min-width: 14vw;
        height: 4.5vw;
        margin-top: 2vw;
    }

    .shop__section .avatar__name {
        font-size: 1vw;
    }
    .shop__section .modal__avatar-text {
        font-size: 1vw;
        height: auto;
    }
    .congrat__block {
        width: 44vw;
    }
    .congrat__icon {
        width: 12vw;
        height: auto;
        margin-top: -6vw;
    }
    .congrat__title {
        font-size: 2.8vw;
        margin-bottom: 2vw;
    }
    .congrat__result {
        font-size: 3vw;
    }
    .congrat__result-block {
        margin-bottom: 1vw;
    }
    .congrat__result-text {
        font-size: 2vw;
        margin-bottom: 0.5vw;
    }
    .congrat__result-icon {
        width: 3vw;
        height: auto;
        margin-right: 1vw;
    }
    .congrat__modificator {
        margin-bottom: 2vw;
        font-size: 7vw;
    }
    .btn__share {
        width: 16.4vw;
        span {
            font-size: 1.6vw;
        }
    }
    .congrat__info {
        margin-top: 2vw;
        font-size: 1.6vw;

        span {
            font-size: 1.8vw;
        }
    }
    .info__main-title {
        font-size: 2.2vw;
        margin-bottom: 0.5vw;
    }
    .info__main-title:before {
        width: 27vw;
        height: 1.5vw;
    }
    .info__main-text {
        font-size: 1.3vw;
        margin-bottom: 2vw;
    }
    .info__wrapper {
        max-height: 20vw;
        margin-bottom: 2vw;
        padding: 0 1vw 2vw 0;
    }
    .info__text {
        font-size: 1.6vw;
        margin-bottom: 1vw;
    }
    .info__text-alert {
        font-size: 1.6vw;
    }
    .info__check-box {
        width: 2.4vw;
        height: 2.4vw;
        border-radius: 0.4vw;
    }
    .info__check-box:before {
        width: 1.6vw;
        height: 1.6vw;
    }
    .info__check-box-text {
        font-size: 1.5vw;
    }
    .info__checkbox {
        margin-bottom: 2vw;
    }
    .game__mode-top {
        margin-bottom: 1vw;
    }
    .game__mode-name {
        font-size: 1.4vw;
    }
    .game__mode-star img {
        width: 1.8vw;
    }
    .game__mode {
        max-width: 42%;
    }
    .game__mode-img {
        border-radius: 1.4vw !important;

        img {
            border-radius: 1.4vw !important;
        }
    }
    .game__mode-text {
        font-size: 1.5vw;
        margin-bottom: 1vw;

        &:last-child {
            margin-bottom: 2vw;
        }
    }
    .play__mode .btn__price {
        min-width: 16vw;
        height: 5.2vw;
    }
    .play__mode .btn__price span {
        font-size: 1.8vw;
    }
    .game__item-title {
        font-size: 2vw;
        margin-bottom: 1vw;
    }
    .game__item-title:before {
        width: 9vw;
    }
    .game__item-text {
        font-size: 1.6vw !important;
    }
    .game__item-text span {
        font-size: 1.6vw !important;
    }
    .game__item .btn__wrapper {
        padding: 1vw;
    }
}

@media (max-width: 960px) and (max-height: 460px) {
    .main::after {
        background-color: rgb(58,63, 221);
    }
    @-moz-document url-prefix() {
        .main:after {
            background-color: rgba(58, 63, 221, 0.6);
        }
    }
    .bg__light-yellow {
        width: 100px;
        height: 100px;
    }
    .bg__light-green {
        width: 150px;
        height: 150px;
    }
    .bg__light-blue {
        width: 175px;
        height: 175px;
    }
    .bg__light-red {
        width: 150px;
        height: 150px;
    }
    .gram__icon {
        width: 11%;
    }
    .gram__icons {
        width: 116vw;
        height: 62vw;
    }
    .gram__icon-1 {
        top: 31.2%;
        right: 19.7%;
    }
    .gram__icon-2 {
        top: 22.4%;
        right: 11.6%;
    }
    .gram__icon-3 {
        top: 39.8%;
        right: 11.6%;
    }
    .gram__icon-4 {
        bottom: 5.6%;
        right: 11.6%;
    }
    .gram__icon-5 {
        bottom: 5.6%;
        right: 28%;
    }
    .gram__icon-6 {
        bottom: 14.2%;
        right: 19.8%;
    }
    .gram__icon-7 {
        top: 31%;
        left: 20.1%;
    }
    .gram__icon-8 {
        top: 48%;
        left: 20.1%;
    }
    .gram__icon-9 {
        top: 39.6%;
        left: 12%;
    }
    .gram__icon-10 {
        bottom: 5.6%;
        left: 28.2%;
    }
    .gram__icon-11 {
        bottom: -2%;
        left: 20.1%;
    }
    .btn__settings {
        top: 2vw;
        left: 3vw;
    }
    .btn__statistic {
        top: 2vw;
        right: 3vw;
    }
    .main__page-center h1 {
        margin-bottom: 2vw;
    }
    .main__title {
        font-size: 6vw;
    }
    .main__btns {
        gap: 1.6vw;
    }
    .btn__rounded {
        border-radius: 7vw;
        min-width: 29vw;
        height: 7vw;

        span {
            font-size: 2vw;
        }
    }
    .btn__rounded .btn__wrapper {
        border-radius: 6vw;
    }
    .btn__rounded img {
        max-width: 4vw;
        max-height: 5vw;
    }
    .btn__rectangle {
        height: 6vw;
    }
    .btn__rectangle img {
        width: 4vw;
        height: auto;
    }
    .btn__rectangle span {
        font-size: 1.2vw;
    }
    .btn__rounded-small {
        border-radius: 7vw;
        min-width: 21vw;
        height: 6vw;
    }
    .play__info-btns {
        display: block;
    }
    .modal__section {
        overflow: auto;
        padding: 5vw 0 8vw;
        justify-content: flex-start;
        height: 100vh;
        height: 100svh;
    }
    .modal__wrapper {
        width: 80vw;
        height: auto;
        padding: 1.5vw 2vw 5vw;
    }
    .exit__section {
        justify-content: center;
    }
    .modal__wrapper-shadow {
        top: 20%;
        left: 5%;
        width: 90%;
        height: 60%;
    }
    .exit__score-text {
        font-size: 3vw;
    }
    .exit__coins-text {
        font-size: 2vw;
    }
    .btn__square, .btn__circle {
        width: 6vw;
        height: 6vw;
    }
    .btn__chat {
        top: 10vw;
        right: 3vw;
    }
    .btn__circle {
        width: 8vw;
        height: 8vw;
    }
    .btn__modal-exit {
        width: 12vw;
        height: 5vw;

        span {
            font-size: 1.4vw;
        }
    }
    .btn__exit-disabled {
        top: -2.8vw;
    }
    .exit__section {
        justify-content: center;
    }
    .exit__block {
        width: 30vw;
        padding: 2px;
    }
    .exit__block-small {
        top: 7vw;
    }
    .exit__block-wrapper {
        border-radius: 0.4vw;
    }
    .exit__block-text {
        font-size: 1.4vw;
        margin-bottom: 1vw;
    }
    .exit__timer-block {
        width: 10vw;
        height: 10vw;
    }
    .exit__timer {
        font-size: 4vw;
    }
    .preloader__title {
        font-size: 12vw;
        margin-bottom: 0vw;
    }
    .preloader__info {
        border-radius: 6vw;
        padding: 0.8vw 2vw;
    }
    .preloader__info-text {
        font-size: 1.4vw;
    }
    .preloader__info-divider {
        height: 3vw;
        margin: 0 1.6vw;
    }
    .preload__section .gram__icon-1, .autorization__section  .gram__icon-1 {
        top: 22.4%;
        right: 44.4%;
    }
    .preload__section .gram__icon-2, .autorization__section .gram__icon-2 {
        top: 14%;
        right: 36.2%;
    }
    .preload__section .gram__icon-3, .autorization__section .gram__icon-3 {
        top: 14%;
        left: 36.6%;
    }
    .preload__section .gram__icon-4, .autorization__section .gram__icon-4 {
        bottom: 14%;
        right: 19.8%;
    }
    .preload__section .gram__icon-5, .autorization__section .gram__icon-5 {
        bottom: 14%;
        left: 20.2%;
    }
    .btn {
        box-shadow: 0px 0px 10px 2px rgba(70, 73, 255, 0.7);
    }
    .statistic__table-wrapper {
        border-width: 2px;
    }
    .game__chat, .rating__block {
        border-width: 2px;
    }
    .balance__section .statistic__table td {
        font-size: 1.4vw;
    }
    .statistic__table-wrapper {
        height: 30vw;
    }
    .statistic__table-overflow {
        max-height: 24vw;
    }
    .btn-register span {
        font-size: 1.4vw;
    }
    .btn__play {
        span {
            font-size: 1.6vw;
        }

        img {
            max-width: 3vw;
            max-height: 4vw;
        }
    }
    .autorization__section, .preload__section {
        justify-content: center;
        overflow: hidden;
    }
    .test__btns {
        width: 32%;
    }
    .tg-fullscreen {
        .btn__settings {
            top: 7vw;
        }
        .btn__statistic {
            top: 7vw;
        }
        .modal__section {
            padding: 8vw 0;
        }
        .lang__block {
            bottom: 4vw;
        }
        .test__btns {
            bottom: 4vw;
        }
        .btn__home {
            top: 7vw;
        }
        .btn__prize {
            top: 7vw;
        }
        .btn__chat {
            top: 14vw;
        }
        .btn__play-2 {
            bottom: 6vw;
            right: 10vw;
        }
        .exit__score {
            bottom: 6vw;
        }
    }


    .shop__section {
        .input {
            height: 4vw;
            font-size: 1.8vw;

            &::placeholder {
                font-size: 1.3vw;
            }
        }
    }
    .exchange__input-wrapper span {
        font-size: 1.2vw;
    }
    .exchange__item-text {
        font-size: 1.4vw;
    }
    .exchange__text {
        font-size: 1.5vw;
        margin-bottom: 0.5vw;
        padding: 0;
        text-align: center;
    }
    .exchange__star-icon, .exchange__item-gram {
        width: 2vw;
    }
    .shop__item-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .exchange__item {
        padding: 0.8vw 1vw;
        gap: 0.6vw;
        margin: auto;
        margin-bottom: 1vw;
    }
    .btn__price {
        height: 4.5vw;
        min-width: 15vw;
    }
    .btn__price img {
        width: 2vw !important;
    }
    .btn__price-gram {
        width: 2.2vw !important;
    }
    .shop__slider .btn__price {
        height: 4vw;
        min-width: 14vw;
    }
    .shop__section .avatar__name {
        font-size: 1.2vw;
    }
    .shop__section .modal__avatar-text {
        font-size: 1.1vw;
    }
    .shop__nav-item {
        font-size: 2vw;
        padding: 0.8vw 1vw;
    }
    .shop__nav-item-1 {
        padding-right: 3vw;
    }
    .shop__item {
        padding: 2vw 0 0;
    }
    .shop__section .modal__wrapper {
        height: auto;
        padding: 2vw 1.8vw 4vw;
    }
    .shop__item-2 .owl-nav {
        width: 15vw;

        button {
            width: 2vw;
            height: 2.4vw;
        }
    }

    .main__page .main__title:before {
        right: 1.5vw;
    }
    .shop__section .modal__avatar-text {
        height: 2.6vw;
    }

    .congrat__block {
        width: 38vw;
    }
    .congrat__block-wrapper {
        padding: 0 2vw 3vw;
    }
    .congrat__icon {
        width: 8vw;
        height: auto;
        margin-top: -4vw;
    }
    .congrat__title {
        font-size: 2.4vw;
        margin-bottom: 1vw;
    }
    .congrat__result-text {
        font-size: 1.6vw;
        line-height: 1.3;
        margin-bottom: 0;
    }
    .congrat__result-icon {
        width: 2.6vw;
        margin-right: 1vw;
    }
    .congrat__result {
        font-size: 2.4vw;
    }
    .congrat__result-block {
        margin-bottom: 0;
    }
    .congrat__modificator {
        margin-bottom: 1vw;
        font-size: 6vw;
    }
    .btn__share {
        width: auto;
        height: auto;

        .btn__wrapper {
            padding: 1.5vw 2vw;
        }

        span {
            font-size: 1.4vw;
        }
    }
    .congrat__info {
        margin-top: 1vw;
        font-size: 1.6vw;
    }
}

@media (max-width: 430px) {
    .main {
        background-size: 85%;
    }
    .gram__icons {
        width: 100vw;
        height: 160vw;
    }
    .gram__icon {
        width: 27%;
    }
    .gram__icon-1 {
        top: 4.6%;
        right: 14.2%;
    }
    .gram__icon-2 {
        top: -3%;
        right: -6.6%;
    }
    .gram__icon-3 {
        top: 11.2%;
        right: -6.6%;
    }
    .gram__icon-4 {
        bottom: -3.4%;
        right: -6.6%;
    }
    .gram__icon-5 {
        bottom: -3.4%;
        right: 36.2%;
    }
    .gram__icon-6 {
        bottom: 4.6%;
        right: 14.6%;
    }
    .gram__icon-7 {
        top: 26.3%;
        left: -6%;
    }
    .gram__icon-8 {
        top: 41.4%;
        left: -6%;
    }
    .gram__icon-9 {
        top: 35.2%;
        left: -24.3%;
    }
    .gram__icon-10 {
        bottom: 11.6%;
        left: -5.8%;
    }
    .gram__icon-11 {
        bottom: 3.6%;
        left: -23.3%;
    }
    .main::after {
        background-color: rgb(58, 63, 221);
    }
    @-moz-document url-prefix() {
        .main:after {
            background-color: rgba(58, 63, 221, 0.6);
        }
    }
    
    .main__title {
        font-size: 14vw;
    }
    .bg__light-yellow {
        width: 100px;
        height: 100px;
    }
    .bg__light-green {
        width: 150px;
        height: 150px;
    }
    .bg__light-blue {
        width: 175px;
        height: 175px;
    }
    .bg__light-red {
        width: 150px;
        height: 150px;
    }
    .main__page-center h1 {
        margin-bottom: 7vw;
    }
    .main__btns {
        gap: 6vw;
    }
    .btn {
        height: 18vw;
    }
    .btn__rounded {
        border-radius: 18vw;
        min-width: 54vw;
    }
    .btn__rounded img {
        max-width: 9vw;
        max-height: 9vw;
    }
    .btn span {
        font-size: 4.6vw;
    }
    .btn__rounded .btn__wrapper {
        border-radius: 16vw;
    }
    .btn__wrapper {
        gap: 2vw;
        padding: 0 2vw;
    }
    .btn__rectangle {
        height: 13vw;

        span {
            font-size: 2.4vw;
        }
    }
    .btn__rectangle img {
        width: 8vw;
        height: auto;
    }
    .modal__section .main__title {
        font-size: 10vw;
        margin-bottom: 3vw;
    }
    .modal__section {
        overflow: auto;
        padding: 8vw 0;
        justify-content: flex-start;
        height: 100vh;
        height: 100svh;
    }
    .exit__section {
        justify-content: center;
    }
    .modal__wrapper {
        width: 90vw;
        height: auto;
        padding: 2vw 3vw 4vw;
        border-radius: 3vw;
        background-size: 200%;
    }
    .modal__border {
        border-radius: 3.5vw;
    }
    .modal__wrapper:before {
        border-radius: 3vw;
    }
    .modal__wrapper:after {
        border-radius: 3vw
    }
    .btn__back, .exit__profile {
        top: 2.6vw;
        left: 3vw;
        font-size: 3.2vw;
    }
    .btn__back img, .exit__profile img {
        width: 3.6vw;
        margin-right: 1vw;
    }
    .exit__profile {
        left: auto;
        right: 3vw;

        img {
            margin-right: 0;
            margin-left: 1vw;
        }
    }
    .modal__title {
        font-size: 2.8vw;
        margin-bottom: 0;
    }
    .modal__divider {
        margin-bottom: 2vw;
        margin-top: 1.2vw;
    }
    .modal__block {
        flex-direction: column;
        align-items: center;
    }
    .modal__main {
        width: 100%;
    }
    .modal__main-title {
        font-size: 3vw;
        margin-bottom: 1.5vw;
        text-align: center;
    }
    .play__block-title {
        font-size: 3.4vw;
        margin-bottom: 2vw;
    }
    .modal__avatar-slider {
        width: 32vw;
    }
    .modal__avatar {
        width: 32vw;
        height: 32vw;
    }
    .modal__avatar img {
        width: 17vw !important;
    }
    .modal__avatar-slider .owl-nav {
        top: 14.2vw;
        width: 26vw;
    }
    .modal__avatar-slider .owl-nav button {
        width: 3vw;
        height: 3.6vw;
    }
    .modal__avatar-text {
        font-size: 3vw;
    }
    .avatar__name {
        height: 6.2vw;
        font-size: 3vw;
        margin: 0.5vw 0;
    }
    .modal__game-info {
        width: 48vw;
    }
    .modal__main:before {
        display: none;
    }
    .input__label {
        padding-left: 0.5vw;
        font-size: 2.8vw;
        margin-bottom: 0.5vw;
    }
    .input {
        height: 6vw;
        font-size: 3vw;
        padding: 0 2vw;
    }
    .game__info-btn {
        width: 6vw;
    }
    .game__info-item {
        margin-bottom: 2vw;
        gap: 1vw;
    }
    .modal__info-slider {
        width: 65.2vw;
        padding-top: 3vw;
    }
    .modal__wrapper-shadow {
        top: 17%;
        left: 3%;
        width: 94%;
        height: 70%;
    }
    .modal__profile-btns {
        margin-top: 4vw;
    }
    .btn__modal {
        width: 26vw;
        height: 12vw;

        span {
            font-size: 2vw;
        }
    }
    .btn__modal img {
        width: 6vw;
    }
    .btn {
        box-shadow: 0px 0px 10px 2px rgba(70, 73, 255, 0.7);
    }
    .modal__info-title {
        font-size: 3.4vw;
        margin-bottom: 2vw;
    }
    .modal__info-img {
        border-radius: 3vw;
        margin-bottom: 2vw;
    }
    .modal__info-text {
        font-size: 2.6vw;
    }
    .shop__section .modal__main {
        width: 100%;
        padding-right: 0;
        padding-bottom: 4vw;
    }    
    .btn__price {
        min-width: 16vw;
        height: 12vw;

        span {
            font-size: 4vw;
        }
    }
    .amplifire__item {
        display: flex;
        flex-direction: column;   
        align-items: center;
    }
    .btn__price img {
        width: 6vw !important;
    }
    .shop__amplifiers {
        padding-left: 0;
        padding-bottom: 5vw;
    }
    .amplifiers__title {
        font-size: 4vw;
    }
    .amplifire__info {
        height: auto;
        min-height: 15vw;
    }
    .amplifiers__wrapper {
        .owl-nav {
            width: 100%;
            position: absolute;
            top: auto;
            left: 0;
            bottom: 4vw;           
            transform: none;
        }
    }
    .owl-nav button {
        width: 4vw;
        height: 6vw;
    }
    .statistic__section .modal__main {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .statistic__player-title {
        width: 32vw;
        font-size: 2.6vw;
        margin-bottom: 1.5vw;
        align-self: flex-start;
    }
    .statistic__player {
        width: 32vw;
    }
    .statistic__section .modal__block {
        height: auto;
        align-items: center;
    }
    .modal__statistic {
        width: 70vw;
    }
    .statistic__player-title {
        font-size: 3.6vw;
        margin-bottom: 2vw;
    }
    .statistic__table-wrapper {
        border-width: 2px;
    }
    .statistic__table-title {
        padding: 0.6vw;
        font-size: 3vw;
    }
    .statistic__table thead {
        font-size: 2.4vw;
    }
    .statistic__table td {
        padding: 0.25vw 0.5vw;
        font-size: 2.4vw;
    }
    .statistic__table-wrapper {
        height: 60vw;
    }
    .statistic__table-overflow {
        max-height: 47.2vw;
    }
    .settings__block {
        width: 100%;
        height: auto;
        order: 1;
        padding: 0 2vw !important;
    }
    .settings__block-center {
        order: 2;
        border: none;
        padding: 0;
    }
    .settings__block-title {
        font-size: 2.6vw;
        margin-bottom: 2vw;
    }
    .settings__title {
        height: auto;
        margin-bottom: 2vw;
        font-size: 2vw;
    }
    .settings__title img {
        max-width: 4vw;
        max-height: 4vw;
        margin-right: 1vw;
    }
    .check__box {
        width: 12vw;
        height: 6vw;
        margin-right: 2vw;
        border-radius: 6vw;
    }
    .check__box:before {
        width: 5.2vw;
        height: 5.2vw;
    }
    .checkbox__input:checked + .check__box:before {
        transform: translate(5.8vw, -50%);
    }
    .checkbox__text {
        font-size: 2.6vw;
    }
    .settings__img-wrapper {
        justify-content: space-around;
    }
    .settings__img-wrapper img {
        width: 10vw;
    }
    .settings__items-wrapper {
        margin-bottom: 3vw;
        gap: 1vw;
    }
    .input__range-wrapper {
        width: 100%;
        height: 5vw;
    }
    .range__value {
        width: 9vw;
        font-size: 3.4vw;
        margin-left: 1.5vw;
    }
    .settings__section .modal__wrapper {
        padding: 2vw 2vw 5vw;
    }
    .play__block {
        width: 100%;
        padding-right: 0;
        padding-bottom: 5vw;
    }
    .play__block:before {
        display: none;
    }
    .btn__rounded-small {
        min-width: 40vw;
        height: 12vw;

        span {
            font-size: 3vw;
        }
    }
    .play__item-title {
        font-size: 3vw;
        margin-bottom: 1vw;
    }
    .play__item-text {
        font-size: 2.4vw;
    }
    .play__item-info:before {
        width: 44.6vw;
        height: 2.4vw;
    }
    .play__item-info {
        padding-top: 2vw;
    }
    .play__item-info:before {
        top: 4.6vw;
    }
    .play__item-description {
        font-size: 2vw;
    }
    .play__info-list {
        font-size: 2.4vw;
        margin-bottom: 3vw;
    }
    .play__item {
        margin-top: 3vw;
    }
    .play__info {
        width: 80%;
        margin: auto;
    }
    .play__info-title {
        margin-bottom: 2vw;
        font-size: 3.6vw;
    }
    .play__info-img {
        border-radius: 3vw;
        margin-bottom: 3vw;
    }
    .play__info-text {
        font-size: 3vw;
        padding: 0 1vw;
        margin-bottom: 2vw;
    }
    .play__info-btn {
        height: 7vw;
        border-radius: 7vw;
        margin-bottom: 3vw;
        font-size: 2.6vw;
    }
    .btn__play {
        img {
            max-width: 7vw;
            max-height: 7vw;
        }
        .btn__wrapper {
            gap: 1vw;
            padding: 0 2vw;
        }
    }
    .play__section .modal__wrapper {
        padding-bottom: 4vw;
    }
    .game-over__section .modal__wrapper {
        width: 90vw;
    }
    .game-over__section .modal__main {
        width: 100%;
        padding-bottom: 5vw;
    }
    .game-over__section .modal__game-info {
        width: 100%;
        flex-shrink: 1;
    }
    .statistic__main-wrapper {
        gap: 4vw;
    }
    .game-over__result {
        width: 50vw;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vw;

        .statistic__player-title {
            width: 100%;
            margin-bottom: 0;
            font-size: 5vw;
        }
    }
    .btn__game-over {
        width: 27vw;
        height: 10vw;
    }
    .btn__game-over img {
        width: auto;
        height: 4.2vw;
    }
    .game-over__btns {
        margin-top: 0;
        justify-content: space-between;
    }
    .btn__game-over {
        span {
            font-size: 2.2vw;
        }
    }
    .btn__square, .btn__circle {
        width: 12vw;
        height: 12vw;
    }
    .btn__chat {
        top: 18vw;
        right: 3vw;
    }
    .btn__circle {
        width: 16vw;
        height: 16vw;
    }
    .btn__play-1 {
        right: 3vw;
        bottom: 20vw;
    }
    .btn__play-2 {
        bottom: 5vw;
        right: 18vw;
    }
    .exit__score-text {
        font-size: 6vw;
    }
    .exit__coins-text {
        font-size: 4vw;
    }
    .exit__block {
        width: 70vw;
        // height: 50vw;
    }
    .exit__block-small {
        top: 19vw;
    }
    .exit__block-wrapper {
        padding: 4vw 1vw;
    }
    .btn__exit-disabled {
        top: -5.6vw;
    }
    .btn__modal-exit {
        span {
            font-size: 3.2vw;
        }
    }
    .exit__block-text {
        font-size: 3.6vw;
        margin-bottom: 3vw;
    }
    .exit__timer-block {
        width: 20vw;
        height: 20vw;
        margin-bottom: 3vw;
    }
    .exit__timer {
        font-size: 10vw;
    }
    .game__chat, .rating__block {
        width: 52vw;
        padding: 3vw 2vw;
        border-radius: 4vw;
        border-width: 2px;
    }
    .chat__title {
        font-size: 3.6vw;
        margin-bottom: 2vw;
    }
    .game__chat-wrapper {
        gap: 1vw;
        height: 35vw;
        max-height: 40vw;
    }
    .chat__name {
        font-size: 2.6vw;
    }
    .chat__item-wrapper {
        gap: 2vw;
    }
    .chat__message {
        padding: 2vw;
        font-size: 3vw;
        border-radius: 2vw;
    }
    .chat__photo {
        width: 6vw;
    }
    .chat__message::before {
        width: 2.6vw;
        height: 2.6vw;
        bottom: -0.6vw;
        right: -0.9vw;
    }
    .chat__item-answer .chat__message:before {
        left: -0.9vw;
    }
    .game__chat-wrapper {
        gap: 1vw;
        height: 55vw;
        max-height: 70vw;
    }
    .rating__title {
        font-size: 4.6vw;
    }
    .rating__prize-main {
        width: 10vw;
    }
    .rating__block .game__chat-wrapper {
        max-height: 41vw;
    }
    .rating__list {
        gap: 2vw;
        padding-right: 5vw;
    }
    .rating__list-item {
        font-size: 2.8vw;
    }
    .rating__list-item img {
        width: 5.5vw;
    }
    .preloader__title {
        font-size: 19vw;
        margin-bottom: 1vw;
    }
    .preloader__info-text {
        font-size: 2.6vw;
    }
    .preloader__info-divider {
        height: 5vw;
        margin: 0 2vw;
    }
    .preloader__info {
        border-radius: 6vw;
        padding: 2vw 3vw;
    }
    .preloader__center {
        margin-top: 0;
    }
    .preload__section .gram__icon-1, .autorization__section .gram__icon-1 {
        top: 11.8%;
        right: 36.5%;
    }
    .preload__section .gram__icon-2, .autorization__section .gram__icon-2 {
        top: 4.6%;
        right: 15%;
    }
    .preload__section .gram__icon-3, .autorization__section .gram__icon-3 {
        top: 4.6%;
        left: 15.8%;
    }
    .preload__section .gram__icon-5, .autorization__section .gram__icon-5 {
        bottom: 12%;
        left: -5%;
    }
    .preload__section .gram__icon-4, .autorization__section .gram__icon-4 {
        bottom: 12%;
        right: -6.4%;
    }
    .character__icon-1 {
        top: 23%;
        right: 14%;
        width: 20%;
    }
    .character__icon-2 {
        bottom: 10%;
        right: 19%;
        width: 16%;
    }
    .character__icon-3 {
        top: 22%;
        left: 20%;
        width: 12%;
    }
    .character__icon-4 {
        bottom: 20%;
        left: 17%;
        width: 10%;
    }
    .character__icon-5 {
        bottom: 28%;
        right: 8%;
        width: 8%;
    }
    .unregister__section .statistic__player-title {
        font-size: 4vw;
        margin-bottom: 2vw;
    }
    .unregister__section .statistic__player {
        margin-bottom: 2vw;
    }
    .btn-register {
        height: 16vw;
        min-width: 48vw;

        span {
            font-size: 3vw;
        }
    }
    .btn-register .btn__wrapper {
        padding: 0 5vw;
    }
    .unregister__section .modal__main {
        padding: 2vw 0 5vw;
    }
    .balance__section .settings__block-center {
        order: 1;
    }
    .balance__section {
        .settings__block {
            margin-bottom: 3vw;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .balance__section .statistic__table-wrapper {
        width: 100%;
        height: 40vw;
    }
    .balance__section .statistic__table-overflow {
        max-height: 28vw;
    }
    .ref__summ {
        margin-top: 3vw;
    }
    .balance {
        font-size: 4vw;
        margin: 3vw 0;
    }
    .balance__section .statistic__table td {
        font-size: 3.4vw;
        padding-right: 5px;
    }
    .modal__info-text {
        font-size: 3vw;
    }
    .balance__section .settings__block {
        margin-bottom: 8vw;
    }
    .add__balance {
        width: 35vw;
        height: 12vw;

        img {
            width: 7vw;
        }

        span {
            font-size: 2.6vw;
        }
    }
    .unregister__section {
        justify-content: center;
    }
    .balance__section {
        .input {
            height: 8vw;
        }
        .game__info-btn {
            width: 8vw;
        }
        .game__info-item {
            margin-bottom: 4vw;
        }
    }
    .tooltip .tooltiptext {
        width: 23vw;
        border-radius: 1vw;
        padding: 1vw;
        font-size: 3vw;
    }
    .unshop__text {
        font-size: 2.4vw;
    }
    .btn__lang {
        height: 10vw;
        border-radius: 10vw;

        img {
            height: 9vw;
        }

        span {
            font-size: 3.6vw;
        }

        .btn__wrapper {
            padding: 0 2vw 0 1vw;
            border-radius: 10vw;
        }
    }
    .lang__wrapper {
        bottom: 12vw;
        padding: 2vw;
        border-radius: 3vw;
        border-width: 1px;
    }
    .btn__lang-item img {
        width: 7vw;
    }
    .btn__lang-item span {
        font-size: 3vw;
    }
    .game__chat-btn {
        width: 6vw;
        height: 6vw;
    }
    .game__chat-btn img {
        width: 2.2vw;
        height: auto;
    }
    .game__chat-send .input {
        font-size: 2.6vw;
    }
    .autorization__section, .preload__section {
        justify-content: center;
        overflow: hidden;
    }
    .autorization__section .preloader__center {
        max-width: 100%;
        gap: 4vw;
    }
    .autorization__info {
        font-size: 5vw;
    }
    .tg-fullscreen {
        .btn__settings {
            top: 19vw;
        }
        .btn__statistic {
            top: 19vw;
        }
        .modal__section {
            padding: 22vw 0 20vw;
        }
        .lang__block {
            bottom: 12vw;
        }
        .test__btns {
            bottom: 12vw;
        }
        .btn__home {
            top: 18vw;
        }
        .btn__prize {
            top: 18vw;
        }
        .btn__chat {
            top: 32vw;
        }
        .btn__play-1 {
            bottom: 30vw
        }
        .btn__play-2 {
            bottom: 14vw;
            right: 16vw;
        }
        .exit__score {
            bottom: 14vw
        }
        .exit__timer-big {
            margin-bottom: 4vw;
        }
    }
    #clear-button {
        min-width: auto;
        width: auto;
        height: auto;
        bottom: 12vw !important;

        img {
            min-width: none;
            min-height: none;
            width: 6vw;
        }

        span {
            font-size: 3.8vw;
            width: auto;
        }

        .btn__wrapper {
            padding: 1.6vw 3vw;
            gap: 2vw;
        }
    }
    .main__page .main__title:before {
        top: -6vw;
        font-size: 3.6vw;
        padding: 0.5vw 1vw;
        border-radius: 1vw;
    }
    .shop__section .modal__wrapper {
        height: auto;
    }
    .shop__nav-item {
        font-size: 3.6vw;
        padding: 1.5vw 2vw;
    }
    .shop__nav-item-1 {
        padding-right: 6vw;
    }
    .shop__nav-item-1:before {
        width: 4vw;
        height: 4vw;
        right: 1vw;
        top: 52%;
    }
    .shop__item {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 3vw 0 0;
    }
    .shop__item-left {
        width: 100%;
        padding-bottom: 6vw;
    }
    .shop__item-title {
        font-size: 3.6vw;
        margin-bottom: 4vw;
    }
    .btn__price {
        min-width: 20vw;
        height: 12vw;
    }
    .btn__price {
        min-width: 40vw;
        height: 11vw;
    }
    .btn__price span {
        font-size: 4.5vw;
    }
    .shop__buy {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2vw;
    }
    .shop__buy-info {
        font-size: 3.2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .shop__buy-info span {
        font-size: 3vw;
        bottom: auto;
        left: auto;
        position: static;
    }
    .shop__buy .input {
        width: 50%;
        margin-right: 0;
    }
    .shop__item-right {
        width: 100%;
        padding: 0;
        border: none;
    }
    .exchange__text {
        font-size: 3.6vw;
        margin-bottom: 2vw;
    }
    .exchange__item {
        background-color: #202030;
        padding: 1vw 2vw;
        gap: 1vw;
        border-radius: 1vw;
        margin-bottom: 2vw;
    }
    .exchange__star-icon, .exchange__item-gram {
        width: 5.4vw;
    }
    .exchange__item-text {
        font-size: 4vw;
    }
    .shop__section .input {
        height: 9vw;
        font-size: 4vw;

        &::placeholder {
            font-size: 3.2vw;
        }
    }
    .exchange__input-wrapper .input {
        width: 100%;
    }
    .exchange__input-wrapper span {
        font-size: 3.2vw;
        padding: 0.5vw 0 0.5vw 3vw;
    }
    .exchange__input-wrapper {
        position: relative;
        margin-bottom: 2vw;
    }
    .shop__item-right {
        padding-bottom: 5vw;
    }
    .shop__item-2 .shop__item-left {
        width: 100%;
    }
    .shop__item-2 .modal__avatar-slide {
        width: 100%;
    }

    .owl__nav-btn {
        display: none;
    }
    .shop__item-2 .modal__avatar img {
        width: 40% !important;
    }
    .avatar__name {
        height: 10vw;
        margin: 1vw 0;
    }
    .modal__avatar {
        margin-bottom: 2vw;
    }
    .shop__section .avatar__name {
        font-size: 3.8vw;
    }
    .shop__section .modal__avatar-text {
        font-size: 3.6vw;
    }
    .shop__item-2 .modal__avatar-text {
        margin-bottom: 2vw;
    }
    .shop__slider .owl-item.active {
        .btn__price {
            box-shadow: 0px 0px 3px 2px #B79846;
        }
        .modal__avatar img {
            border-radius: 100%;
            box-shadow: 0px 0px 20px 3px #B79846;
        }
        .btn__price {
            opacity: 1;
        }
    }
    .shop__item-2 .owl-nav {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70vw;
    }

    .shop__section .btn__rounded-small {
        min-width: 47vw;
        height: 14vw;

        span {
            font-size: 5vw;
        }
    }
    .shop__item-2 .shop__item-right {
        width: 100%;
        padding: 0 2vw 5vw;
    }
    .shop__section .modal__info-title {
        font-size: 4.6vw;
        margin-bottom: 3vw;
    }
    .shop__section .modal__info-text {
        font-size: 4vw;
    }
    .shop__item-right {
        display: flex;
        flex-direction: column;
        align-items: center;   
    }
    .exchange__text {
        padding: 0;
        text-align: center;
    }
    .congrat__block {
        width: 80vw;
        border-radius: 5vw;
    }
    .congrat__block-bg {
        border-radius: 4vw;
    }
    .congrat__icon {
        width: 26vw;
        margin-top: -13vw;
    }
    .congrat__title {
        font-size: 5vw;
        margin-bottom: 3vw;
        margin-top: 1vw;
    }
    .congrat__result-block {
        margin-bottom: 2vw;
    }
    .congrat__result-text {
        font-size: 4vw;
        margin-bottom: 1vw;
    }
    .congrat__result-icon {
        width: 7vw;
        margin-right: 2vw;
    }
    .congrat__result {
        font-size: 5vw;
    }
    .congrat__modificator {
        margin-bottom: 3vw;
        font-size: 14vw;
    }
    .btn__share {
        width: auto;
        height: auto;

        .btn__wrapper {
            padding: 3vw 4vw;
        }

        span {
            font-size: 4vw;
        }
    }
    .congrat__info {
        margin-top: 3vw;
        font-size: 3vw;
    }
    .congrat__info span {
        font-size: 4vw;
    }
    .congrat__block-wrapper {
        padding: 0 2vw 4vw;
    }
    .info__block {
        padding: 3vw 0;
    }
    .info__main-title {
        font-size: 5vw;
        margin-bottom: 1vw;
    }
    .info__main-title:before {
        width: 62vw;
        height: 4vw;
        bottom: -0.8vw;
    } 
    .info__main-text {
        font-size: 3.5vw;
        margin-bottom: 3vw;
    }
    .info__text {
        font-size: 3.5vw;
        margin-bottom: 2vw;
    }
    .info__text-alert {
        font-size: 3.5vw;
    }
    .info__wrapper {
        max-height: 90vw;
        margin-bottom: 3vw;
        padding: 0 0vw 2vw 0;
    }
    .info__check-box {
        width: 7vw;
        height: 7vw;
        margin-right: 2vw;
        border-radius: 1vw;
    }
    .info__check-box:before {
        width: 3.5vw;
        height: 3.5vw;
    }
    .info__check-box-text {
        font-size: 3.5vw;
    }
    .info__checkbox {
        margin-bottom: 5vw;
    }
    .game__mode {
        max-width: 100%;
    }
    .game__mode-top {
        margin-bottom: 2vw;
    }
    .play__section .modal__block {
        padding: 4vw 0;
        gap: 8vw;
    }
    .game__mode-name {
        font-size: 3.4vw;
    }
    .game__mode-star img {
        width: 5vw;
    }
    .game__mode-star {
        gap: 2vw;
    }
    .game__mode-img {
        border-radius: 4vw !important;

        img {
            border-radius: 4vw !important;
        }
    }
    .game__mode-img:before {
        border-radius: 4vw;
    }
    .game__mode-img:after {
        width: 25vw;
        height: 25vw;
        background-size: 9vw auto;
    }
    .play__mode .game__mode {
        flex-direction: column;
        gap: 6vw;
    }
    .play__mode .game__mode-block {
        width: 100%;
    }
    .game__mode-text {
        font-size: 3.2vw;
        margin-bottom: 3vw;
        text-align: left;

        &:last-of-type {
            margin-bottom: 8vw;
        }
    }
    .play__mode .btn__price {
        min-width: auto;
        height: auto;
    }
    .play__mode .btn__price span {
        font-size: 5vw;
    }
    .play__mode .btn__price {
        border-radius: 8vw;
    }
    .play__mode .btn__price .btn__wrapper {
        padding: 2vw 4vw;
        border-radius: 8vw;
    }
    .game__item {
        border-radius: 4vw;
        margin-bottom: 5vw;

        &:last-child {
            margin-bottom: 5vw;
        }
    }
    .game__item .btn__wrapper {
        padding: 3vw 2vw;
        border-radius: 4vw;
    }
    .game__item-title {
        font-size: 5vw;
        margin-bottom: 3vw;
    }
    .game__item-title:before {
        width: 23vw;
    }
    .game__item-text {
        font-size: 4vw !important;
    }
    .game__item-text span {
        font-size: 4vw !important;
    }
    .game__item .btn__wrapper:before {
        transform: rotate(-15deg);
    }
    .play__mode-2 .game__mode-block:last-child {
        flex-direction: column;
        align-items: center;
    }
    .game__item {
        width: 100%;
    }
}

