.header__section {
    width: 100%;
    height: auto;
    background: #111316;
    position: relative;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 1400px auto;

    &:before {
        content: "";
        width: 100%;
        height: 146px;
        position: absolute;
        bottom: -146px;
        left: 0;
        background: #111316;
        clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
}

.header__section-wrapper {
    padding: 25px 0 114px;
}

.header__nav {
    width: 100%;
    height: auto;
}

.nav__block {
    width: 100%;
    height: 50px;
    background: #009fac;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 17px;
    position: relative;

    &:before {
        content: "";
        width: 198px;
        height: 17px;
        position: absolute;
        top: -17px;
        left: 0;
        background: #009fac;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
    }
}

.nav__logo {
    width: 164px;
    height: auto;

    svg {
        width: 100%;
        height: auto;
        fill: #fff;
    }
}

.nav__wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.nav__list {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    flex-shrink: 0;
}

.nav__list-item {
    width: auto;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    flex-shrink: 0;
    position: relative;

    &:before {
        content: "";
        width: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease;
    }

    &:hover {
        &:before {
            width: 100%;
        }
    }
}

.lang__select {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    flex-shrink: 0;
    padding-right: 20px;
    background-image: url(../img/naw-arrow-icon.png);
    background-repeat: no-repeat;
    background-position: right center;
    cursor: pointer;

    option {
        background-color: #009fac;
    }
}

.nav__search-wrapper {
    width: 296px;
    height: auto;
    position: relative;

    &:before {
        content: "";
        width: 15px;
        height: 14px;
        background-image: url(../img/search-icon.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
}

.nav__search {
    width: 100%;
    height: 34px;
    background-color: #fff;
    border-radius: 2px;
    padding: 0 10px 0 33px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(17, 19, 22, 0.5);
}

.nav__bottom {
    width: 100%;
    height: auto;
    padding: 0 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav__catalog-btn {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    padding: 7px 12px;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #111316;
    cursor: pointer;
    gap: 7px;

    img {
        width: 16px;
        height: auto;        
    }
}


.nav__catalog {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 5;
    width: calc(100% - 50px);
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
}

.nav__brend {
    width: 170px;
    height: auto;
    padding: 20px 15px 20px 10px;
    flex-shrink: 0;
}

.nav__brend-item {
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 2px;
    padding: 6px 8px;
    transition: 0.3s ease;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    color: #111316;
    cursor: pointer;

    &.active {
        background: #009fac;
        color: #fff;
    }
}

.nav__categories {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.nav__category {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    display: none;

    &.active {
        display: flex;
    }
}

.nav__category-block {
    width: 400px;
    height: auto;
    padding: 24px 15px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-left: 1px solid #f0f0f0;
}

.nav__category-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #111316;
    opacity: 0.7;
    transition: 0.3s ease;

    &.active {
        opacity: 1;
    }
}

.nav__items {
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 10px;
}

.nav__item {
    width: calc(50% - 5px);
    height: 41px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;

    img {
        width: 27px;
        height: auto;
    }

    span {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        color: #111316;
        opacity: 0.7;
        transition: 0.3s ease;
    }

    &:hover {
        span {
            opacity: 1;
        }
    }
}



.nav__bottom-wrapper {
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}

.nav__link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    flex-shrink: 0;
}

.nav__link-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009fac;
}

.nav__social-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.nav__social {
    width: auto;
    height: auto;
}

.header__content-wrapper {
    padding: 70px 0 173px;
}

.header__content {
    width: 658px;
    height: auto;
    border-left: 3px solid #009fac;
    padding-left: 50px;
}

.header__content-tag {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    margin-bottom: 30px;
}

.header__tag-title {
    width: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
    flex-shrink: 0;
}

.header__tag-line {
    width: 0%;
    height: 1px;
    background: #fff;
    animation: line 2s;
    animation-fill-mode: forwards;
}

@keyframes line {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.header__title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 25px;
}

.header__text {
    width: 100%;
    max-width: 382px;
    height: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 40px;
}

.header__catalog-link {
    display: inline-block;
    padding: 20px 30px;
    background: #009fac;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transition: 0.3s ease;

    &:hover {
        background-color: #fff;
        color: #111316;
    }
}

.header__items-wrapper {
    position: relative;
    width: 100%;
    height: auto;
}

.header__lines {
    width: calc(100% - 250px);
    height: auto;
    border-top: 2px solid #fff;
    margin-left: 175px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 100px;
    position: relative;
}

.header__info {
    position: absolute;
    top: -20px;
    right: 18px;
    width: 330px;
    height: 60px;
    padding: 8px 18px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    text-align: right;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    background: linear-gradient(270deg, #111316 0%, rgba(17, 19, 22, 0) 100%);

    &.active {
       opacity: 1;
       visibility: visible;
    }
}

.header__line {
    width: 2px;
    height: 114px;
    background-color: #fff;
    position: relative;

    &:before {
        content: "";
        width: 18px;
        height: 18px;
        border-radius: 100%;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        border: 4px solid #009fac;
    }
}

.header__line-1 {
}
.header__line-2 {
}
.header__line-3 {
}

.header__line-5 {
    width: 2px;
    height: 210px;
    position: absolute;
    top: -210px;
    right: 0;

    &:before {
        top: 0;
        bottom: auto;
    }
}


.header__items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.header__item {
    width: 255px;
    height: auto;
}

.header__item-img {
    width: 100%;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.header__item-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 10px;
}

.header__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
}
