.footer__section {
    background: #151515;
}

.footer__section-wrapper {
    padding: 9px 0;
}

.foter__section-text {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #fff;
}

@media (max-width: 540px) {
    .footer__section-wrapper {
        padding: 9px 0;
    }
    .foter__section-text {
        font-size: 4vw;
    }
}
