.header__content {
    width: 100%;
    max-width: 555px;
    height: auto;
    padding: 30px 0 200px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &:before {
        content: "";
        width: 700px;
        height: 700px;
        border-radius: 100%;
        background-color: #c9b5e9;
        filter: blur(100px);
        z-index: -1;
        position: absolute;
        top: -100px;
        right: -780px;
    }
}

.header__logo {
    width: 160px;
    height: auto;
    margin-bottom: 50px;
}

.header__season {
    width: auto;
    border-radius: 10px;
    background: #5b3ec6;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 30px;
}

.header__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #2e187c;
    margin-bottom: 27px;
}

.header__text {
    width: 100%;
    max-width: 314px;
    padding-left: 12px;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    color: #111;
    position: relative;
    margin-bottom: 44px;

    &:before {
        content: "";
        width: 2px;
        height: calc(100% - 4px);
        position: absolute;
        top: 2px;
        left: 0;
        background-color: #9b3583;
        border-radius: 10px;
    }
}

.header__price-wrapper {
    width: 360px;
    height: auto;
}

.header__price {
    margin-bottom: 15px;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.old__price {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #222;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    margin-right: 20px;

    &:before {
        content: "";
        width: 100%;
        height: 3px;
        background-color: #f00;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-3deg);
    }
}

.new__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    color: #b22d93;
}

.order__btn {
    display: inline-block;
    border-radius: 20px;
    background-color: #b22d93;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    padding: 20px;
    width: 100%;
    height: auto;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #d600a3;
    }
}

.header__result {
    margin-top: 7px;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #111;

    span {
        font-weight: 700;
        color: #b22d93;
    }
}

.header__decor {
    width: 100%;
    height: auto;
}

.header__girl {
    position: absolute;
    width: 200px;
    height: auto;
    top: 30px;
    left: -230px;
    z-index: -1;
}

.header__decor-logo {
    position: absolute;
    width: 458px;
    height: auto;
    bottom: 76px;
    right: -245px;
    z-index: -1;
}

.header__boot {
    position: absolute;
    height: auto;
    z-index: -1;
}

.header__boot-1 {
    width: 679px;
    right: -780px;
    top: 100px;
}

.header__boot-2 {
    width: 504px;
    top: 90px;
    right: -540px;
}

.header__decor-info {
    width: auto;
    height: auto;
    position: absolute;
    top: 26px;
    right: -730px;

    &:before {
        content: "";
        width: 20px;
        height: 20px;
        border: 2px solid #fff;
        border-left: none;
        border-bottom: none;
        position: absolute;
        right: 10px;
        top: 10px
    }
}

.decor__info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    color: #fff;
}

.decor__info-text-1 {
    padding-right: 38px;
}

.decor__info-text-2 {
    position: absolute;
    white-space: nowrap;
    transform: rotate(90deg);
    top: 100px;
    right: -65px;
}

@media (max-width: 1480px) {
    .header__content {
        padding: 30px 0 140px;
    }
    .header__girl {
        width: 180px;
        top: 80px;
        left: -185px;
    }
    .header__decor-logo {
        width: 400px;
        bottom: 40px;
        right: -190px;
    }
    .header__boot-1 {
        width: 580px;
        right: -670px;
        top: 160px;
    }
    .header__boot-2 {
        width: 430px;
        top: 120px;
        right: -492px;
    }
    .header__decor-info {
        top: 55px;
        right: -630px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1000px;
    }
    .header__content {
        max-width: 460px;
        padding: 30px 0 100px;
    }
    .header__logo {
        width: 130px;
        height: auto;
        margin-bottom: 30px;
    }
    .header__season {
        margin-bottom: 20px;
    }
    .header__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .header__text {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .header__girl {
        width: 140px;
        top: 110px;
        left: -150px;
    }
    .header__decor-logo {
        width: 320px;
        bottom: 40px;
        right: -190px;
    }
    .header__boot-1 {
        width: 460px;
        right: -560px;
        top: 160px;
    }
    .header__boot-2 {
        width: 360px;
        top: 120px;
        right: -420px;
    }
    .header__decor-info {
        top: 55px;
        right: -550px;
    }
    .header__content:before {
        width: 600px;
        height: 600px;
    }
}

@media (max-width: 1080px) {
    .container {
        width: 700px !important;
    }
    .header__content {
        max-width: 100%;
        padding: 30px 0 68px;
        align-items: center;
    }
    .header__decor-info {
        display: none;
    }
    .header__content:before {
        display: none;
    }
    .header__logo {
        width: 160px;
        height: auto;
        margin-bottom: 20px;
    }
    .header__season {
        margin-bottom: 11px;
    }
    .header__title {
        font-size: 30px;
        margin-bottom: 9px;
        text-align: center;
    }
    .header__text {
        max-width: 280px;
        font-size: 20px;
        margin-bottom: 18px;
    }
    .header__decor {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 55px;
    }
    .header__girl {
        width: 200px;
        position: static;
        transform: scaleX(-1);
        z-index: 1;
    }
    .header__decor-logo {
        width: 384px;
        bottom: -130px;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__boot {
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    .header__boot-1 {
        width: 460px;
        right: auto;
        top: 55%;
        left: 60%;
    }
    .header__boot-2 {
        top: 43%;
        right: auto;
        left: 43%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 100% !important;
        padding: 0 15px;
    }
    .site__wrapper {
        background: none;
    }
    .header__section {
        position: relative;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 115%;
            filter: blur(30px);
            background: linear-gradient(126deg, #e2c8f0 0%, #c1c8fb 100%);
        }
    }
}

@media (max-width: 540px) {
    .header__section:before {
        height: 120%;
    }
    .header__content {
        padding: 7vw 0 14vw;
    }
    .header__logo {
        width: 38.7vw;
        height: auto;
        margin-bottom: 4.8vw;
    }
    .header__season {
        margin-bottom: 2.8vw;
        border-radius: 2vw;
        padding: 1vw 2vw;
        font-size: 4.5vw;
    }
    .header__title {
        font-size: 7vw;
        margin-bottom: 2vw;
    }
    .header__text {
        max-width: 73vw;
        font-size: 5.5vw;
        margin-bottom: 4.5vw;
        padding-left: 3vw;
    }
    .header__decor {
        margin-bottom: 12vw;
    }
    .header__girl {
        width: 55vw;
        margin-right: 5vw;
    }
    .header__decor-logo {
        width: 100%;
        bottom: -28vw;
    }
    .header__boot-2 {
        width: 73vw;
        top: 43%;
        right: auto;
        left: 36%;
    }
    .header__boot-1 {
        width: 90vw;
        right: auto;
        top: 54%;
        left: 58%;
    }
    .header__price-wrapper {
        width: 100%;
        height: auto;
    }
    .header__price {
        margin-bottom: 3.5vw;
    }
    .old__price {
        font-size: 5.8vw;
        padding: 0 1vw;
        margin-right: 4.8vw;
    }
    .new__price {
        font-size: 7vw;
    }
    .order__btn {
        border-radius: 4.8vw;
        font-size: 4.8vw;
        padding: 4.8vw;
    }
    .header__result {
        margin-top: 1.8vw;
        font-size: 4.8vw;
    }
}