.card__section {
}

.card__section-wrapper {
}

.bar__block {
    padding: 0px 0 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    color: #ff3d00;
    margin-bottom: 9px;
}

.bar__subtitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}

.bar__wrapper {
    width: 502px;
    height: auto;
    position: relative;
}

.bar {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    img {
        width: 100%;
        height: auto;
    }
}

.start {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    background-color: #ff3d00;
    border: 10px solid #9d0e26;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    color: #fff;

    &:hover {
        background-color: #9d0e26;
    }

    &:before {
        content: "";
        width: 36px;
        height: 33px;
        background-image: url(../img/tringle.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        position: absolute;
        top: -34px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.bar__info {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #222;
}

.card__block {
    padding: 64px 0 22px;
    // display: none;
}

.card__form {
    width: 100%;
    max-width: 350px;
    height: auto;
}

.input__wrapper {
    position: relative;
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 20px;
    }

    &:before {
        content: "";
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 10px 0 0 10px;
        background-color: #ffcc78;
        pointer-events: none;
        background-image: url(../img/name.png);
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid #ff9e00;
        border-right: none;
    }
}

.input__tel {
    &:before {
        background-image: url(../img/phone.png);
    }
}

.card__input {
    width: 100%;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #111;
    padding: 0 20px 0 80px;
    border: 1px solid #ff9e00;
    border-radius: 10px;
}

.card__submit {
    width: 100%;
    height: 60px;
    border-radius: 10px;
    background: #ff3d00;
    font-weight: 600;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        background: #b42a00;
    }
}

.super-rotation {
    animation-name: super-rotation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out
}

@keyframes super-rotation {
    70% {
      transform: rotate(2000deg)
    }
  
    100% {
      transform: rotate(1977deg)
    }
}


@media (max-width: 1080px) {
   
}

@media (max-width: 540px) {
    .bar__block {
        padding: 6.8vw 0 3vw;
    }
    .bar__title {
        font-size: 5.5vw;
        margin-bottom: 3vw;
    }
    .bar__subtitle {
        font-size: 4.8vw;
        margin-bottom: 4.8vw;
    }
    .bar__wrapper {
        width: 100%;
    }
    .bar {
        margin-bottom: 3vw;
    }
    .start {
        width: 28vw;
        height: 28vw;
        font-size: 5.8vw;
    }
    .start:before {
        width: 8.8vw;
        height: 7vw;
        top: -7vw;
    }
    .bar__info {
        font-size: 4.5vw;
    }
}

